<form id="create-product"
      ng-submit="saveProduct();"
      class="smart-form">

    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label>Efectivo</label>
                <label class="input">
                    <i class="icon-prepend fa fa-money"></i>
                    <input disabled="disabled"
                           type="text"
                           name="name"
                           ng-model="sqrt.totalCash">
                </label>
            </section>
            <section class="col col-6">
                <label>Credito</label>
                <label class="input">
                    <i class="icon-prepend fa fa-credit-card-alt"></i>
                    <input disabled="disabled"
                           type="text"
                           name="name"
                           ng-model="sqrt.totalCredit">
                </label>
            </section>
            <section class="col col-6">
                <label>Credito</label>
                <label class="input">
                    <i class="icon-prepend fa fa-hourglass-end"></i>
                    <input disabled="disabled"
                           type="text"
                           name="name"
                           ng-model="sqrt.totalCreditCard">
                </label>
            </section>
            <section class="col col-6">
                <label>Cheque</label>
                <label class="input">
                    <i class="icon-prepend fa fa-money"></i>
                    <input disabled="disabled"
                           type="text"
                           name="name"
                           ng-model="sqrt.totalCheck">
                </label>
            </section>
            <section class="col col-6">
                <label>Total Ventas</label>
                <label class="input">
                    <i class="icon-prepend fa fa-money"></i>
                    <input disabled="disabled"
                           type="text"
                           name="name"
                           ng-model="sqrt.total">
                </label>
            </section>
            <section class="col col-6">
                <label>Impuestos</label>
                <label class="input">
                    <i class="icon-prepend fa fa-money"></i>
                    <input disabled="disabled"
                           type="text"
                           name="name"
                           ng-model="sqrt.tax">
                </label>
            </section>
        </div>
    </fieldset>

    <fieldset>
        <div ng-show="isValidSqrt" class="result-sqrt">
            <span>
                <i class="fa fa-thumbs-up"></i>
                <h3>El cuadre esta listo para ser efectuado.</h3>
            </span>
        </div>
        <div ng-hide="isValidSqrt" class="result-sqrt">
            <span>
                <i class="fa fa-thumbs-down"></i>
            </span>
            <h3>Los datos de cierre no concuerdan.</h3>
        </div>
    </fieldset>
</form>