<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<header id="header" class="not-printable animated fadeInDown">

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="RV Imperio"> </span>
    </div>
</header>

<div class="not-printable" style="width: 100%; position: absolute">
    <big-breadcrumbs items="['Vista Previa']" icon="arrow-circle-left"
                     class="col-xs-12 col-sm-7 col-md-7 col-lg-4 cursor-pointer pointer">
    </big-breadcrumbs>
</div>
<br>
<div class="container" style="background: white">
    <div id="logo-printing" class="big-print">
        <span>
            <img src="styles/img/logo.png" style="margin-top: -15px; width: 50%" alt="RV Imperio">
        </span>
    </div>
    <hr id="hr">
    <div class="row big-print">
        <div class="col-md-12">
            <div class="invoice-title">
                <h2 style="width: 50%;">{{invoice.status === 'PROCESSED' ? 'Detalles de factura': 'Detalles de
                    cotización'}}</h2>
                <h3 style="width: 50%; text-align: right" class="pull-right">No. {{invoice.invoiceId}}</h3>
            </div>
            <hr>
            <div class="row" id="sub-header">
                <div style="width: 55%; display: inline-flex; padding: 0 15px">
                    <address>
                        <strong>Imperio Electrico</strong><br>
                        Av. Isabel Aguiar 84<br>
                        Zona Industrial Herrera,
                        Santo Domingo Oeste,
                        Rep. Dom.
                        <br>
                        <strong>Tel: </strong>(809)-531-4422
                    </address>
                </div>
                <div style="width: 45%; display: inline-flex; padding: 0 15px;" class="text-right">
                    <address style="float: right; width: 100%">
                        <strong>Fecha:</strong>
                        <br>
                        {{invoice.date | date: 'dd/MM/yyyy hh:mm:ss a'}}<br><br>
                        <strong>Sobre El Cliente:</strong>
                        <br>
                        {{invoice.customer.name | uppercase}}
                        <br>
                        <span style="white-space:nowrap;">
                        {{invoice.customer.address | uppercase}}
                        </span>
                        <br>
                        {{invoice.customer.phone | uppercase}}
                        <br>
                        <strong>RNC</strong>
                        <br>
                        No. {{invoice.customer.rnc}}
                        <br>
                        <strong>Comprobante</strong>
                        <br>
                        No. {{invoice.voucherNo}}
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row small-print-div">

        <label style="font-size:8pt!important;text-align: center">
            <strong style="text-align: center; margin-left: 10%">Imperio Electrico</strong>
            <hr>
            <span style="text-align: center">
                <address style="width: 80%; margin-left: 15%">
                        Av. Isabel Aguiar 84<br>
                        Zona Industrial Herrera,
                        Santo Domingo Oeste,
                        Rep. Dom.
                        <br>
                        <strong>Tel: </strong>(809)-531-4422

                    </address>
            </span>
            <hr>
        </label>
        <div class="col-md-12" style="padding-left: 0">
            <div class="invoice-title">
                <h2 style="width: 50%; margin-left: 0!important;">Factura</h2>
                <h3 style="width: 50%; text-align: right" class="pull-right">No. {{invoice.invoiceId}}</h3>
            </div>
            <hr>
            <div class="row" id="sub-header">
                <div style="width: 100%; padding: 0 15px; display: inline-flex;">
                    <address style="text-align: left; width: 100%">
                        <strong>Fecha:</strong>
                        <br>
                        {{invoice.date | date: 'dd/MM/yyyy hh:mm:ss a'}}<br><br>
                        <strong>Sobre El Cliente:</strong>
                        <br>
                        {{invoice.customer.name | uppercase}}
                        <br>
                        <span style="white-space:nowrap;">
                        {{invoice.customer.address | uppercase}}
                        </span>
                        <br>
                        {{invoice.customer.phone | uppercase}}
                        <br>
                        <strong>Comprobante</strong>
                        No. {{invoice.voucher}}
                    </address>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="row big-print">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td style="width: 40%" class="col col-md-5 big-print-row"><strong>Codigo</strong></td>
                                <td style="width: 40%" class="col col-md-5 big-print-row"><strong>Descripcion</strong>
                                </td>
                                <td style="width: 40%; display: none" class="col col-md-5 small-print-div"><strong
                                        class="small-print-div">Descr</strong></td>
                                <td style="width: 20%;" class="text-center col col-md-3"><strong>Precio</strong></td>
                                <td style="width: 20%" class="text-center col col-md-2"><strong>Cantidad</strong></td>
                                <td style="width: 20%" class="text-right col col-md-2"><strong>Total en RD$</strong>
                                </td>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="big-print-row" ng-repeat="product in invoice.products">
                                <td>{{product.code}}</td>
                                <td>{{product.description}}</td>
                                <td class="text-center">{{product.price | currency}}</td>
                                <td class="text-center">{{product.qty}}</td>
                                <td class="text-right">{{product.qty * product.price | currency}}</td>
                            </tr>

                            <tr class="small-print-row" ng-repeat="product in invoice.products">
                                <td>{{product.code}} {{(product.description | lowercase) | limitTo:8}}</td>
                                <td class="text-center">{{product.price | currency}}</td>
                                <td class="text-center">{{product.qty}}</td>
                                <td class="text-right">{{product.qty * product.price | currency}}</td>
                            </tr>
                            <tr class="spacer"></tr>
                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line text-right">
                                    <strong>Subtotal</strong></td>
                                <td class="thick-line text-right">
                                    {{invoice.subTotal | currency}}
                                </td>
                            </tr>
                            <tr>
                                <td class="no-line big-print"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right">
                                    <strong>Descuento</strong>
                                </td>
                                <td class="no-line text-right">
                                    {{invoice.discountTtl | currency}}
                                </td>
                            </tr>
                            <tr>
                                <td class="no-line big-print"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>ITBIS</strong></td>
                                <td class="no-line text-right">
                                    {{invoice.tax | currency}}
                                </td>
                            </tr>
                            <tr>
                                <td class="no-line big-print"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Total</strong></td>
                                <td class="no-line text-right">
                                    {{invoice.total | currency}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row small-print-div">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td style="width: 20%" class="text-center col col-md-1"><strong>Cant.</strong></td>
                                <td style="width: 40%" class="col col-md-8"><strong>Descripcion</strong></td>
                                <td style="width: 20%" class="text-right col col-md-3"><strong>Total</strong></td>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="small-print-row" ng-repeat="product in invoice.products">
                                <td>{{product.qty}}</td>
                                <td>
                                    {{getWord(product.description)}}<br>
                                    Precio: {{product.price | currency}}<br>
                                    Codigo: {{product.code}}
                                </td>
                                <td class="text-right">{{product.qty * product.price | currency}}</td>
                            </tr>
                            <tr class="spacer"></tr>
                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line text-right">
                                    <strong>Subtotal</strong>
                                </td>
                                <td class="thick-line text-right">
                                    {{invoice.subTotal | currency}}
                                </td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line text-right">
                                    <strong>Descuento</strong>
                                </td>
                                <td class="no-line text-right">
                                    {{invoice.discountTtl | currency}}
                                </td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>ITBIS</strong></td>
                                <td class="no-line text-right">
                                    {{invoice.tax | currency}}
                                </td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Total</strong></td>
                                <td class="no-line text-right">
                                    {{invoice.total | currency}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="foot">
        <div style="text-align: center;">
            <button ng-hide="invoice.status !== 'PROCESSED'"
                    class="btn btn-primary hidden-print"
                    ng-click="doPrint()">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                Consumidor Final
            </button>
            <button class="btn btn-primary hidden-print"
                    ng-show="invoice.status === 'DRAFTED'"
                    ng-click="doEdit()">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                Editar documento
            </button>
            <button class="btn btn-warning hidden-print"
               data-toggle="modal" data-target="#exampleModal">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                Hoja Completa
            </button>
            <button ng-show="invoice.status === 'DRAFTED'"
                    class="btn btn-success hidden-print"
                    ng-click="doProcess()">
                <span class="fa fa-cog" aria-hidden="true"></span>
                Procesar
            </button>
        </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Impresión de hoja completa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label for="inputGroupSelect02">Seleccione compañia</label>
                        <select ng-model="origin" style="height: 30px; width: 100%; font-size: 14px;" id="inputGroupSelect02">
                            <option selected value="RVIMP">RV Imperio Electrico, SRL</option>
                            <option value="MRAMI">Mercantil Rami, SRL</option>
                            <option value="RANSA">Ransa, SRL.</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button"
                       href="/report?type=INVOICE&document={{invoice.invoiceId}}&origin={{origin}}"
                       target="_blank"
                       class="btn btn-success">
                        Imprimir Factura
                    </a>
                    <a href="/report?type=QUOTE&document={{invoice.invoiceId}}&origin={{origin}}"
                       target="_blank"
                       type="button"
                       class="btn btn-primary">
                        Imprimir Cotización
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @page {
        size: auto;
        margin: 0;
    }

    .big-print-row {
        display: table-row;
    }

    .big-print {
        display: unset;
    }

    .small-print-row {
        display: none;
    }

    .small-print-div {
        display: none;
    }

    body {
        background: white;
    }

    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }

    #logo-printing {
        display: none;
        /*position: absolute;*/
        text-align: center;
    }

    @media print {
        .container {
            width: 110% !important;
            margin-left: -15px;
            /*margin-top: 70px;*/
        }

        .big-print-row {
            display: none;
        }

        .big-print {
            display: none;
        }

        .small-print-row {
            display: table-row;
        }

        .small-print-div {
            display: unset !important;
        }

        /*html, body {*/
        /*width: 65mm;*/
        /*letter-spacing: 1px;*/
        /*font-size: 5pt !important;*/
        /*font-family: Georgia, ‘Times New Roman’, serif !important;*/
        /*font-weight: lighter !important;*/
        /*color: #111 !important;*/
        /*}*/
        /*#sub-header {*/
        /*font-weight: lighter !important;*/
        /*font-size: 8pt !important;*/
        /*font-family: Georgia, ‘Times New Roman’, serif !important;*/
        /*letter-spacing: 0;*/
        /*color: #111 !important;*/
        /*}*/
        /*.table td, .table th {*/
        /*padding: .4rem;*/
        /*}*/
        /*.table {*/
        /*font-weight: lighter !important;*/
        /*font-family: Georgia, ‘Times New Roman’, serif !important;*/
        /*font-size: 8pt !important;*/
        /*color: #111 !important;*/
        /*}*/
        .not-printable {
            visibility: hidden;
            height: 0 !important;
            overflow: hidden;
        }

        .pull-right {
            float: right !important;
        }

        /*.thick-line {*/
        /*border-top: 0.003em solid lightgray !important*/
        /*}*/
        #invoice-text {
            visibility: hidden;
        }
    }
</style>
