<div class="width-pc-100">
    <div class="alert alert-warning" style="text-transform: capitalize">
        <strong>NOTA:</strong> Una vez procesada, la factura no podra ser editada. <strong></strong>
    </div>
</div>
<div loading-pane="isLoading>0" class="container margin-top-50">
    <div jarvis-widget id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
        <!-- widget options:
            usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widgeNt-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon">
                <i style="padding-top: 10px" class="fa fa-edit"></i>
            </span>

            <h2 class="full-width">
                <label>Creación de Cotizacion</label>
                <label class="pull-right">
                    {{fakeDate}}
                </label>
            </h2>

        </header>

        <!-- widget div-->
        <div>

            <div class="widget-body no-padding">
                <form id="create-product"
                      ng-submit="process();"
                      class="smart-form">

                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label>Cliente</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-product-hunt"></i>
                                    <input type="text"
                                           ng-model="customer"
                                           ng-change="setClient(customer)"
                                           id="client"
                                           class="form-control">
                                </label>
                            </section>
                            <section class="col col-2">
                                <label>&nbsp;</label>
                                <button type="button"
                                        ng-click="openCustom()"
                                        class="btn btn-primary btn-sm btn-block">
                                    <i class="fa fa-plus"></i> Nuevo
                                </button>
                            </section>
                            <section class="col col-2">
                                <label>Descuento</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-money"></i>
                                    <input type="text"
                                           name="name"
                                           ng-blur="validateDiscount()"
                                           format="number"
                                           ng-model="invoice.discountPct">
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <table id="myTable" class=" table order-list">
                        <thead>
                        <tr style="text-align: center">
                            <td><h3>Producto</h3></td>
                            <td><h3>Precio</h3></td>
                            <td><h3>Cantidad</h3></td>
                            <td><h3>Monto</h3></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in invoice.products">
                            <td class="col-sm-3">
                                <div class="col col-sm-1">
                                    <a ng-if="$index + 1 < invoice.products.length " ng-click="removeRow($index)"
                                       title="Eliminar fila"
                                       class="btn btn-labeled btn-danger"
                                       style="margin-top: 5px">
                                        <i class="glyphicon glyphicon-remove"
                                           style="padding: 5px 5px;color: white;"></i>
                                    </a>
                                </div>
                                <div class="col col-sm-9">
                                    <input type="text"
                                           id="select2-{{$index}}"
                                           ng-model="product.id"
                                           ng-change="addProduct(product.id, $index)"
                                           class="form-control product-search">
                                </div>
                                <div class="col col-sm-1">
                                    <a title="Crear Nuevo Producto"
                                       ng-click="open($index)"
                                       class="btn btn-labeled btn-success"
                                       style="margin-top: 5px">
                                        <i class="glyphicon glyphicon-plus"
                                           style="padding: 5px 5px;color: white;"></i>
                                    </a>
                                </div>
                                <div class="col col-sm-1">
                                    <a title="Detalles del Producto"
                                       ng-if="$index + 1 < invoice.products.length"
                                       ng-click="details(product.id)"
                                       class="btn btn-labeled btn-warning"
                                       style="margin-top: 5px">
                                        <i class="fa fa-eye"
                                           style="padding: 5px 5px;color: white;"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="col-sm-1" style="text-align: center">
                                <label style="margin-top: 8px">{{product.price | currency}}</label>
                            </td>
                            <td class="col-sm-1">
                                <input type="text"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                       style="text-align: center; margin-left: 37.5%"
                                       min="0"
                                       ng-blur="validateTotal($index, product.id)"
                                       onchange="if (this.value === '' || this.value === '0' ) this.value = '1'"
                                       ng-model="product.qty"
                                       class="form-control page-input"/>
                            </td>
                            <td class="col-sm-1" style="text-align: center">
                                <strong>
                                    <label style="margin-top: 8px">{{(product.price * product.qty )| currency}}</label>
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"></td>
                            <td class="col-sm-1" style="text-align: center"></td>
                            <td class="col-sm-1" style="text-align: center">
                                <h2>SubTotal: </h2>
                            </td>
                            <td class="col-sm-1" style="text-align: center">
                                {{invoice.subTotal | currency}}
                            </td>
                        </tr>
                        <tr class="invoice-totals">
                            <td class="col-sm-3"></td>
                            <td class="col-sm-1" style="text-align: center"></td>
                            <td class="col-sm-1" style="text-align: center">
                                <h2>Descuento: </h2>
                            </td>
                            <td class="col-sm-1" style="text-align: center">
                                {{invoice.discountTtl | currency}}
                            </td>
                        </tr>
                        <tr class="invoice-totals">
                            <td class="col-sm-3"></td>
                            <td class="col-sm-1" style="text-align: center"></td>
                            <td class="col-sm-1" style="text-align: center">
                                <h2>ITBIS: </h2>
                            </td>
                            <td class="col-sm-1" style="text-align: center">
                                {{invoice.tax | currency}}
                            </td>
                        </tr>
                        <tr class="invoice-totals">
                            <td class="col-sm-3"></td>
                            <td class="col-sm-1" style="text-align: center"></td>
                            <td class="col-sm-1" style="text-align: center">
                                <h2>Total: </h2>
                            </td>
                            <td class="col-sm-1" style="text-align: center">
                                {{invoice.total | currency}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <footer>

                        <button type="submit"
                                ng-click="processed = true"
                                title="Procesar la venta de los articulos?"
                                class="btn btn-success pull-left">
                            <i class="fa fa-cog padding-5"></i>
                            Procesar como factura
                        </button>

                        <button type="submit"
                                ng-click="processed = false"
                                title="Guardar en modo de cotizacion?"
                                class="btn btn-primary">
                            <i class="fa fa-save padding-5"></i>
                            Guardar Cotización
                        </button>
                        <button type="button"
                                ng-click="state.reload();"
                                title="Cancelar la transaccion y limpiar la ventana?"
                                class="btn btn-warning">
                            <i class="fa fa-trash padding-5"></i>
                            Cancelar
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
<div smart-include="app/misc/customer/modal/addCustomerModal.html"></div>
<script>
    $("#client").select2({
        minimumInputLength: 0,
        ajax: {
            url: '/api/util/customer',
            dataType: 'json',
            quietMillis: 100,
            data: function (term) {
                return {
                    term: term
                };
            },
            results: function (data) {
                var results = [];
                $.each(data, function (index, item) {
                    results.push({
                        id: item.id,
                        text: item.name.toUpperCase()
                    });
                });
                return {
                    results: results
                };
            }
        }
    });

    setTimeout(function () {
        $(".product-search").select2({
            minimumInputLength: 0,
            ajax: {
                url: '/api/product/filter',
                dataType: 'json',
                quietMillis: 100,
                data: function (term) {
                    return {
                        term: term
                    };
                },
                results: function (data) {
                    let results = [];
                    $.each(data, function (index, item) {
                        results.push({
                            id: item.id,
                            text: item.name.toUpperCase()
                        });
                    });
                    return {
                        results: results
                    };
                }
            }
        });
        $("#client").select2('data', {id: 1000000102, text: 'Cliente al Contado'.toUpperCase()}).trigger('change');
    }, 100);

    //    setInterval(function () {
    //        $("#mySelect2").select2('data', {id:3620194, text:'select2'}).trigger('change');
    //    }, 1000)
</script>
