<div loading-pane="isLoading>0" class="container margin-top-50">
    <div jarvis-widget id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

            <h2>Agregar Cliente</h2>

        </header>

        <!-- widget div-->
        <div>

            <div class="widget-body no-padding">
                <form id="create-customer"
                      ng-submit="saveCustomer();"
                      class="smart-form">

                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label>Nombre</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input ng-disabled="isEditing === true"
                                           type="text"
                                           required
                                           placeholder="Nombre de Cliente"
                                           ng-model="customer.name">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label>Tipo de Cliente</label>
                                <label class="select">
                                    <select ng-disabled="isEditing"
                                            name="clientType"
                                            ng-model="customer.clientType">
                                        <option value="0">Empresa</option>
                                        <option value="1">Persona</option>
                                    </select>
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-lg-12">
                                <label>Direccion</label>
                                <label class="textarea">
                                    <textarea ng-disabled="isEditing"
                                              rows="2"
                                              required
                                              ng-model="customer.address"
                                              placeholder="Direccion del Cliente o Empresa"></textarea>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label>Permite Venta a Credito</label>
                                <label class="select">
                                    <select ng-disabled="isEditing"
                                            name="brand"
                                            ng-model="customer.allowCredit"
                                            ng-required="true">
                                        <option value="0">SI</option>
                                        <option value="1">NO</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label>Telefono</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input ng-disabled="isEditing === true"
                                           type="text"
                                           data-mask-placeholder="0"
                                           data-smart-masked-input="(999)-999-9999"
                                           required
                                           ng-model="customer.phone">
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label>Balance Pendiente</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-money"></i>
                                    <input ng-disabled="true"
                                           type="text"
                                           format="number"
                                           readonly
                                           name="name"
                                           ng-model="customer.balance">
                                </label>
                            </section>
                            <section  class="col col-4">
                                <label>Cedula</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input ng-disabled="isEditing === true"
                                           type="text"
                                           data-mask-placeholder="-"
                                           data-smart-masked-input="999-9999999-9"
                                           ng-model="customer.idCard">
                                </label>
                            </section>
                            <section class="col col-4">
                                <label>RNC</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input ng-disabled="isEditing === true"
                                           type="text"
                                           data-mask-placeholder="-"
                                           data-smart-masked-input="1-99-999999"
                                           ng-model="customer.rnc">
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label>Email</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-envelope"></i>
                                    <input type="email"
                                           name="name"
                                           ng-model="customer.email">
                                </label>
                            </section>
                            <section class="col col-4">
                                <label>Limite De Credito</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-money"></i>
                                    <input type="text"
                                           format="number"
                                           name="name"
                                           ng-model="customer.maxCredit">
                                </label>
                            </section>
                            <section class="col col-4">
                                <label>Numero de Cuenta Bancaria</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-money"></i>
                                    <input type="text"
                                           name="name"
                                           ng-model="customer.bankAccount">
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save padding-5"></i>Guardar
                        </button>
                        <button ng-if="isEditing === true"
                                type="button"
                                class="btn btn-warning"
                                ng-click="isEditing = false">
                            <i class="fa fa-pencil padding-5"></i>Editar
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
<div smart-include="app/e-commerce/views/addNewModal.html"></div>