<div  class="modal fade" id="customer-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;" ng-controller="NewProductCtrl">
                <div loading-pane="isLoading>0">
                    <div jarvis-widget id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                        <!-- widget options:
                            usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                            <h2>Creación de Producto</h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <div class="widget-body no-padding">
                                <form id="create-product"
                                      ng-submit="saveProduct();"
                                      class="smart-form">

                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label>Nombre</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-product-hunt"></i>
                                                    <input ng-disabled="isEditing === true"
                                                           type="text"
                                                           name="name"
                                                           required
                                                           placeholder="Product"
                                                           ng-model="product.name">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label>Marca</label>
                                                <label class="select">
                                                    <select ng-disabled="isEditing"
                                                            name="brand"
                                                            ng-model="product.brand"
                                                            ng-options="brand as brand.name for brand in brandList">
                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label>&nbsp;</label>
                                                <button type="button"
                                                        data-target="#addNewModal"
                                                        data-toggle="modal"
                                                        ng-click="aggregation.index = 6; aggregation.description = '';"
                                                        class="btn btn-primary btn-sm btn-block">
                                                    <i class="fa fa-plus"></i> Nuevo
                                                </button>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-lg-12">
                                                <label>Descripción</label>
                                                <label class="textarea">
                                    <textarea ng-disabled="isEditing"
                                              rows="2"
                                              required
                                              ng-model="product.description"
                                              placeholder="Descripcion del Producto"></textarea>
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label>Suplidor</label>
                                                <label class="select">
                                                    <select ng-disabled="isEditing"
                                                            name="brand"
                                                            ng-model="product.vendor"
                                                            ng-required="true"
                                                            ng-options="vendor as vendor.description for vendor in vendorList">
                                                        <option></option>
                                                    </select> <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label>&nbsp;</label>
                                                <button type="button"
                                                        data-target="#addNewModal"
                                                        data-toggle="modal"
                                                        ng-click="aggregation.index = 4; aggregation.description = '';"
                                                        class="btn btn-primary btn-sm btn-block">
                                                    <i class="fa fa-plus"></i> Nuevo
                                                </button>
                                            </section>
                                            <section class="col col-4">
                                                <label>Categoría</label>
                                                <label class="select">
                                                    <select ng-disabled="isEditing"
                                                            name="category"
                                                            ng-model="product.category"
                                                            ng-required="true"
                                                            ng-options="category as category.name for category in categoryList">
                                                        <option></option>
                                                    </select> <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label>&nbsp;</label>
                                                <button type="button"
                                                        data-target="#addNewModal"
                                                        data-toggle="modal"
                                                        ng-click="aggregation.index = 5; aggregation.description = '';"
                                                        class="btn btn-primary btn-sm btn-block">
                                                    <i class="fa fa-plus"></i> Nuevo
                                                </button>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label>Empaque</label>
                                                <label class="select">
                                                    <select ng-disabled="isEditing"
                                                            name="category"
                                                            ng-model="product.pack"
                                                            ng-required="true"
                                                            ng-options="pack as pack.name for pack in packList">
                                                        <option></option>
                                                    </select> <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label>&nbsp;</label>
                                                <button type="button"
                                                        data-target="#addNewModal"
                                                        data-toggle="modal"
                                                        ng-click="aggregation.index = 2; aggregation.description = '';"
                                                        class="btn btn-primary btn-sm btn-block">
                                                    <i class="fa fa-plus"></i> Nuevo
                                                </button>
                                            </section>
                                            <section class="col col-4">
                                                <label>Tipo de Precio</label>
                                                <label class="select">
                                                    <select ng-disabled="isEditing"
                                                            name="category"
                                                            ng-model="product.priceType"
                                                            ng-required="true"
                                                            ng-change="setSalePrice()"
                                                            ng-options="priceType as priceType.name for priceType in priceList">
                                                        <option></option>
                                                    </select> <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label>&nbsp;</label>
                                                <button type="button"
                                                        data-target="#addNewModal"
                                                        data-toggle="modal"
                                                        ng-click="aggregation.index = 3; aggregation.description = '';"
                                                        class="btn btn-primary btn-sm btn-block">
                                                    <i class="fa fa-plus"></i> Nuevo
                                                </button>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label>Precio De Compra</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-money"></i>
                                                    <input ng-disabled="isEditing"
                                                           type="text"
                                                           name="name"
                                                           format="number"
                                                           ng-change="setSalePrice()"
                                                           placeholder="Precio De Compra"
                                                           ng-model="product.purchasePrice">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label>Ganancia</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-money"></i>
                                                    <input type="number"
                                                           name="name"
                                                           placeholder="Ganancia"
                                                           ng-disabled="product.priceType.id === 1000000004 || isEditing"
                                                           ng-change="setSalePrice()"
                                                           ng-model="product.gain">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label>Precio de Venta</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-money"></i>
                                                    <input type="text"
                                                           format="number"
                                                           ng-disabled="isEditing || product.priceType.id === 1000000000 || product.priceType.id === 1000000002"
                                                           name="name"
                                                           ng-change="setSalePrice()"
                                                           placeholder="Precio De Venta"
                                                           ng-model="product.salePrice">
                                                </label>
                                            </section>

                                        </div>
                                        <div class="row" ng-if="false">
                                            <section class="col col-4">
                                                <label>Total Mayorista</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-money"></i>
                                                    <input ng-disabled="isEditing"
                                                           type="number"
                                                           name="name"
                                                           ng-change="setSalePrice()"
                                                           ng-model="product.wholesaleQuantity">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label>Descuento</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-money"></i>
                                                    <input ng-disabled="isEditing"
                                                           type="number"
                                                           name="name"
                                                           ng-change="setSalePrice()"
                                                           ng-model="product.wholesalePercent">
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label>Precio Mayorista</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-money"></i>
                                                    <input type="number"
                                                           name="name"
                                                           ng-disabled="true"
                                                           ng-model="product.wholesalePrice">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">

                                            <section class="col col-3">
                                                <label>Total Disponible</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-sort-amount-desc"></i>
                                                    <input ng-disabled="isEditing == true"
                                                           type="text"
                                                           format="number"
                                                           name="totalAmount"
                                                           ng-model="product.totalAmount">
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label>Descripcion P. de Venta</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-book"></i>
                                                    <input ng-disabled="isEditing"
                                                           type="text"
                                                           maxlength="28"
                                                           name="posDescription"
                                                           ng-model="product.posDescription">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label>Incluye Impuestos</label>
                                                <label class="select">
                                                    <select ng-disabled="isEditing"
                                                            name="category"
                                                            ng-model="product.allowTax"
                                                            ng-required="true">
                                                        <option value="Y">SI</option>
                                                        <option value="N">NO</option>
                                                    </select> <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-md-3">
                                                <label>Imagen producto</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-image"></i>
                                                    <input ng-disabled="isEditing"
                                                           id="image"
                                                           file-model="image"
                                                           type="file">
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                    <footer>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-save padding-5"></i>Guardar
                                        </button>
                                        <button ng-if="isEditing === true"
                                                type="button"
                                                class="btn btn-warning"
                                                ng-click="isEditing = false">
                                            <i class="fa fa-pencil padding-5"></i>Editar
                                        </button>
                                    </footer>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div smart-include="app/e-commerce/views/addNewModal.html"></div>
            </div>
        </div>
    </div>
</div>