<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Usuarios', 'Nuevo']" icon="user"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4">

        </big-breadcrumbs>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" widget-grid>

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="container">

                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="wid-id-0"
                     data-widget-color="darken"
                     data-widget-editbutton="false"
                     data-widget-deletebutton="false"
                     data-widget-colorbutton="false"
                     data-widget-fullscreenbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-check"></i> </span>

                        <h2>Registracion de Usuarios </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="row">
                                <form name="userForm" data-smart-validate-form>
                                    <div class="col-sm-12" data-smart-wizard
                                         data-smart-wizard-callback="wizard1CompleteCallback">
                                        <div class="form-bootstrapWizard clearfix">
                                            <ul class="bootstrapWizard">
                                                <li data-smart-wizard-tab="1">
                                                    <a>
                                                        <span class="step cursor-pointer">1</span>
                                                        <span class="title">Informacion Basica</span>
                                                    </a>
                                                </li>
                                                <li data-smart-wizard-tab="2">
                                                    <a> <span class="step cursor-pointer">2</span> <span class="title">Informacion de Contacto</span>
                                                    </a>
                                                </li>
                                                <li data-smart-wizard-tab="3">
                                                    <a> <span class="step cursor-pointer">3</span> <span class="title">Informacion Laboral</span>
                                                    </a>
                                                </li>
                                                <li data-smart-wizard-tab="4">
                                                    <a> <span class="step cursor-pointer">4</span> <span class="title">Save Form</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane" data-smart-wizard-pane="1">
                                                <br>
                                                <div smart-include="app/calendar/create/includes/basic.info.html"></div>

                                            </div>
                                            <div class="tab-pane" data-smart-wizard-pane="2">
                                                <br>
                                                <div smart-include="app/calendar/create/includes/contact.info.html"></div>
                                            </div>
                                            <div class="tab-pane" data-smart-wizard-pane="3">
                                                <br>
                                                <div smart-include="app/calendar/create/includes/working.info.html"></div>

                                            </div>
                                            <div class="tab-pane" data-smart-wizard-pane="4">
                                                <br>

                                                <br>

                                                <h1 class="text-center text-success">
                                                    <strong>
                                                        <i class="fa fa-check fa-lg"></i>
                                                        Completado..!
                                                    </strong>
                                                    <br>
                                                    <br>
                                                    <button ng-click="saveUser();" type="submit" class="btn btn-primary">
                                                        Guardar
                                                    </button>
                                                </h1>

                                                <br>
                                                <br>
                                            </div>

                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="pager wizard no-margin">
                                                            <li class="previous" data-smart-wizard-prev>
                                                                <a class="btn btn-lg btn-default">
                                                                    Anterior </a>
                                                            </li>
                                                            <li class="next">
                                                                <a data-smart-wizard-next
                                                                   ng-disabled="userForm.$valid"
                                                                   class="btn btn-lg txt-color-darken">
                                                                    Siguiente </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>
        </div>
    </section>

</div>