/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.loading-pane {
    position: absolute;
    background: url("http://oi62.tinypic.com/2pqsuc0.jpg");
}

.loading-pane .spinner-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("http://oi58.tinypic.com/2emfu9w.jpg") center center no-repeat;
}

.imperio-btn {
    background-color: #fe580d !important;
    border-color: #900323 !important;
}

.imperio-btn:hover {
    background-color: #77031e !important;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000000000000000000000;
}

.hidden-element {
    visibility: hidden !important;
}

.imperio-color {
    color: #fe580d !important;
}

.mobile-dash {
    color: #ffffff;
}

.case-wrapper {
    position: relative;
    margin: 0;
    float: left;
    width: 100%;
    height: 140px;
}

.width-70-center {
    width: 70%;
    margin-left: 15%;
}

.padding-top-100 {
    padding-top: 100px !important;
}

.padding-top-150 {
    padding-top: 150px !important;
}

.imperio-bg {
    background: url("../../styles/img/imperio/dashboard.jpg") no-repeat;
!important;
    background-size: 100%;
    min-height: 80vh;
}

.app-icon {
    padding: 25px;
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
}

.case-label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
}

.margin-top-50 {
    margin-top: 50px;
}

.input-disabled {
    background: lightgrey !important;
}

input[disabled="disabled"], select[disabled="disabled"], textarea[disabled="disabled"] {
    background: lightgrey !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.page-jumper {
    margin: 5px;
    padding: 5px;
}

.page-jumper:hover {
    background: lightgrey;
}

.page-separator:before {
    opacity: .2;
    content: 'I';
}

.page-text {
    font-size: 14px;
}

.page-input-container {
    font-size: 13px;
}

.page-input {
    width: 40px;
    -moz-appearance: textfield;
    margin: 0;
}

.page-input::-webkit-outer-spin-button,
.page-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a[disabled] {
    pointer-events: none;
    opacity: .5;
}

.select2-choice {
    height: 30px !important;
}

.select2-arrow b {
    padding-top: 9px !important;
}

.select2-hidden-accessible {
    display: none;
}

.invoice-totals td {
    border: none !important;
}

.window-modal-lg .modal-dialog {
    width: 70% !important;
}

.widget-icon .fa {
    padding-top: 10px;
}

.currency-pic {
    width: 100%;
    cursor: pointer;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.text-align-left {
    text-align: left !important;
}

.no-margin {
    margin: 0 !important;
}

h2 .label {
    font-weight: lighter !important;
}

.result-sqrt {
    width: 100%;
    text-align: center;
}

.result-sqrt .fa-thumbs-up {
    font-size: 120px;
    opacity: .5;
    color: #3276b1;
}

.result-sqrt .fa-thumbs-down {
    font-size: 120px;
    opacity: .5;
    color: #c79121;
}

.result-sqrt h3 {
    margin-top: 15px;
}

.full-width{
    width: 95%!important;
}