<div class="width-pc-100 imperio-bg">
    <div class="width-pc-100">
        <div class="alert alert-info">
            <strong>NOTA:</strong> Todas las transacciones pueden ser anuladas antes del paso de <strong>(1)
            dia</strong>
        </div>
    </div>

    <div class="width-70-center padding-top-150 mobile-dash">

        <div class="row">
            <div class="col col-md-2 text-align-center">
                <div class="case-wrapper">
                    <div class="app-icon" data-ui-sref="app.misc.newInvoice" style="background-color: #1abc9c"
                         title="Facturacion">
                        <i class="fa fa-print fa-2x" title="Facturacion"></i>
                    </div>
                    <div class="case-label ellipsis" data-ui-sref="app.misc.newInvoice">
                        <div class="circle module-count-list-customer"
                             data-doctype="Customer" style="display: none;">
                            <span class="circle-text"></span>
                        </div>
                        <span class="case-label-text">Facturacion</span>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-align-center">
                <div class="case-wrapper">
                    <div class="app-icon" data-ui-sref="app.misc.quote" style="background-color: #3778bc"
                         title="Cotización">
                        <i class="fa fa-money fa-2x" title="Cotización"></i>
                    </div>
                    <div class="case-label ellipsis" data-ui-sref="app.misc.newInvoice">
                        <div class="circle module-count-list-customer"
                             data-doctype="Customer" style="display: none;">
                            <span class="circle-text"></span>
                        </div>
                        <span class="case-label-text">Cotización</span>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-align-center admin">
                <div class="case-wrapper">
                    <div class="app-icon" data-ui-sref="app.misc.allEntries"
                         style="background-color: #8775bc" title="Ingreso de Productos">
                        <i class="fa fa-shopping-cart fa-2x" title="Ingreso de Productos"></i>
                    </div>
                    <div class="case-label ellipsis" data-ui-sref="app.misc.allEntries">
                        <div class="circle module-count-list-customer"
                             data-doctype="Customer" style="display: none;">
                            <span class="circle-text"></span>
                        </div>
                        <span class="case-label-text">Entrada de Productos</span>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-align-center">
                <div class="case-wrapper">
                    <div data-ui-sref="app.ui.all" class="app-icon" style="background-color: #d8ca59" title="Clientes">
                        <i data-ui-sref="app.ui.all" class="fa fa-user-circle fa-2x" title="Clientes"></i>
                    </div>
                    <div data-ui-sref="app.ui.all" class="case-label ellipsis">
                        <div data-ui-sref="app.ui.all"
                             class="circle module-count-list-customer"
                             data-doctype="Customer" style="display: none;">
                            <span class="circle-text"></span>
                        </div>
                        <span class="case-label-text">Clientes</span>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-align-center admin">
                <div class="case-wrapper">
                    <div class="app-icon" style="background-color: #6d1089" title="Recursos Humanos">
                        <i class="fa fa-info-circle fa-2x" title="Recursos Humanos"></i>
                    </div>
                    <div class="case-label ellipsis">
                        <div class="circle module-count-list-customer" style="display: none;">
                            <span class="circle-text"></span>
                        </div>
                        <span class="case-label-text">RRHH</span>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-align-center admin">
                <div class="case-wrapper" title="Details">
                    <div class="app-icon" style="background-color: #4290af" data-ui-sref="app.user" title="Usuarios">
                        <i class="fa fa-users fa-2x" title="Usuarios"></i>
                    </div>
                    <div class="case-label ellipsis">
                        <div class="circle module-count-list-customer" data-doctype="Customer" style="display: none;">
                            <span class="circle-text"></span>
                        </div>
                        <span class="case-label-text">Usuarios</span>
                    </div>
                </div>
            </div>
            <div class="col col-md-2 text-align-center">
                <div class="case-wrapper">
                    <div class="app-icon" style="background-color: #474544" title="Inventario">
                        <i class="fa fa-folder-open-o fa-2x" title="Inventario"></i>
                    </div>
                    <div class="case-label ellipsis">
                        <div class="circle module-count-list-customer" data-doctype="Customer" style="display: none;">
                            <span class="circle-text"></span>
                        </div>
                        <span class="case-label-text">Inventario</span>
                    </div>
                </div>
            </div>

            <div class="col col-md-2 text-align-center">
                <div class="case-wrapper">
                    <div class="app-icon" style="background-color: #c0bbb7" data-ui-sref="app.eCommerce.orders"
                         title="Productos">
                        <i class="fa fa-product-hunt fa-2x" title="Productos"></i>
                    </div>
                    <div class="case-label ellipsis">
                        <div class="circle module-count-list-customer" data-doctype="Customer" style="display: none;">
                            <span class="circle-text"></span>
                        </div>
                        <span class="case-label-text">Productos</span>
                    </div>
                </div>
            </div>

            <div class="col col-md-2 text-align-center">
                <div class="case-wrapper" ng-click="closeSales()">
                    <div class="app-icon" ng-click="closeSales()" style="background-color: #7394c0" title="Cuadre de Caja">
                        <i style="margin:0 7px" class="fa fa-lock fa-2x" title="Cuadre de Caja"></i>
                    </div>
                    <div class="case-label ellipsis" ng-click="closeSales()">
                        <div class="circle module-count-list-customer"
                             ng-click="closeSales()"
                             data-doctype="Customer" style="display: none;">
                            <span class="circle-text"></span>
                        </div>
                        <span ng-click="closeSales()" class="case-label-text">Cierre de Caja</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
