<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="RV Imperio"> </span>
    </div>

</header>
<div  loading-pane="isLoading > 0 " id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <h1 class="txt-color-imperio login-header-big imperio-color">Portal Administrador</h1>

                <div class="hero">
                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">Este es un accesso totalmente restringido, si posee las credenciales validas, por favor
                            pruebe iniciando sesion al completar el formulario de la derecha!</h4>

                        <div class="login-app-icons">
                            <a class="btn btn-danger btn-sm imperio-btn">
                                <i class="fa fa-briefcase"></i>
                                Cotizaciones
                            </a>
                            <a href-void class="btn btn-danger btn-sm imperio-btn">
                                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                                Negocios
                            </a>
                        </div>
                    </div>
                    <img src="styles/img/login/login.png" class="pull-right display-image" alt style="width:250px; height: 400px">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Deseas Atencion Personalizada?</h5>

                        <p>
                            Para una atencion mas personalizada o cualquier inquietud, escribenos a <a href="mailTo:help@imperioelectrico.com">help@imperioelectrico.com</a>
                            o llamanos al <a>+18095314422</a>, e inmediatamente sera atendido por uno de nuestros agentes especializados.

                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Importante: </h5>

                        <p>
                            Una vez iniciada la session cualquier persona con acceso a esta computadora podria aceder a
                            la sesion abierta, a no ser que se cierre debidamente despues de cada transaccion.
                            <label class="text-danger">No es recomendado guardar la contraseña en computadores compartidos.</label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form ng-submit="doLogin();" class="smart-form client-form"  data-smart-validate-form>
                        <header>
                            Inicio de sesion
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">E-mail</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input name="username"
                                           type="search"
                                           data-smart-validate-input
                                           data-required
                                           ng-model="user.username">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        Insertar correo o nombre de usuario</b>
                                </label>
                            </section>
                            <section>
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password"
                                           name="password"
                                           data-smart-validate-input
                                           data-required
                                           data-minlength="3"
                                           ng-model="user.password"
                                           data-maxnlength="20">
                                    <b class="tooltip tooltip-top-right">
                                        <i class="fa fa-lock txt-color-teal"></i>
                                        Enter your password</b>
                                </label>

                                <div class="note">
                                    <a ui-sref="invoicePreview">Olvidaste la contraseña?</a>
                                </div>
                            </section>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember" checked>
                                    <i></i>Mantener la sesion abierta?</label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button>
                        </footer>
                    </form>
                </div>
                <h5 class="text-center"> Revisar Redes</h5>
                <ul class="list-inline text-center">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/imperio.electrico"
                           class="btn btn-primary btn-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href-void class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-footer" xmlns="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">
                        Powered by <strong><a
                    href="mailTo:joseanibal.rodpez@gmail.com">Ing. José A. Rodriguez L.</a></strong>
            </span>
        </div>

        <div class="col-xs-6 col-sm-6 text-right hidden-xs">
            <div class="txt-color-white inline-block">
                <i class="txt-color-blueLight hidden-mobile">
                    <i class="fa fa-code-fork"></i>
                    <strong>
                        v1.0.0&nbsp;</strong>
                </i>
            </div>
        </div>
    </div>
</div>
