<header style="height: 65px" id="header" class="not-printable animated fadeInDown">
    <div id="logo-group">
        <span id="logo"> <img style="padding: 5px 15px; width: 140px;" src="styles/img/logo.png"
                              alt="RV Imperio"> </span>
    </div>
</header>

<body style="min-height: 0!important;">
<div class="not-printable" style="width: 100%; position: absolute">
    <big-breadcrumbs items="['Comfiguración de comprobantes']" icon="arrow-circle-left"
                     class="col-xs-12 col-sm-7 col-md-7 col-lg-4 cursor-pointer pointer">
    </big-breadcrumbs>
</div>

<div style="margin-top: 25vh!important;" loading-pane="isLoading>0" class="container margin-top-50">
    <div jarvis-widget id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
        <!-- widget options:
            usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-cog"></i> </span>

            <h2>Configuracion de comprobantes</h2>
        </header>

        <!-- widget div-->
        <div>

            <div class="widget-body no-padding">
                <form id="create-product"
                      ng-submit="saveVoucher();"
                      class="smart-form">

                    <fieldset>
                        <div class="row">
                            <section class="col col-md-6">
                                <label for="printer-pos">Consumidor Final</label>
                                <input type="text"
                                       id="printer-pos"
                                       ng-model="voucher.finalConsumer"
                                       class="form-control product-search">
                            </section>
                            <section class="col col-md-6">
                                <label for="printer">Crédito Fiscal</label>
                                <input type="text"
                                       id="printer"
                                       ng-model="voucher.fiscalCredit"
                                       class="form-control product-search">
                            </section>
                            <section class="col col-md-6">
                                <label for="path">Gubernamental</label>
                                <input type="text"
                                       id="path"
                                       ng-model="voucher.governmental"
                                       class="form-control product-search">
                            </section>
                            <section class="col col-md-6">
                                <label for="modified">Nota de Crédito</label>
                                <input type="text"
                                       id="modified"
                                       ng-model="voucher.creditNote"
                                       class="form-control product-search">
                            </section>
                        </div>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save padding-5"></i>
                            Guardar
                        </button>

                        <div class="input-group mb-3">
                            <label for="inputGroupSelect02">Seleccione compañia</label>
                            <select ng-model="company" ng-change="loadConfig(company)"
                                    style="height: 30px; width: 100%; font-size: 14px;" id="inputGroupSelect02">
                                <option value="RVIMP">RV Imperio Electrico, SRL</option>
                                <option value="MRAMI">Mercantil Rami, SRL</option>
                                <option value="RANSA">Ransa, SRL.</option>
                            </select>
                        </div>

                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
