<div loading-pane="isLoading>0">
    <div style="margin-bottom: 0" jarvis-widget id="wid-id-1" data-widget-editbutton="false"
         data-widget-custombutton="false">
        <!-- widget options:
            usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon">
                <i class="fa fa-money"></i>
            </span>

            <h2>Cierre De Caja</h2>

            <button class="close pull-right"
                    ng-show="isReadOnly"
                    style="padding: 7px"
                    title="Cerrar"
                    ng-click="uibModalInstance.close(null)">&times;
            </button>
        </header>

        <!-- widget div-->
        <div class="widget-body fuelux" data-smart-fuelux-wizard data-smart-wizard-callback="wizard2CompleteCallback">

            <div class="wizard">
                <ul class="steps">
                    <li ng-click="tab = 0" data-step="1" class="active">
                        <span class="badge badge-info">1</span>
                        Inicio
                        <span class="chevron"></span>
                    </li>
                    <li ng-click="tab = 1" data-step="2">
                        <span class="badge">2</span>
                        Cierre
                        <span class="chevron">
                        </span>
                    </li>
                    <li ng-click="tab = 2" data-step="3">
                        <span class="badge">3</span>
                        Cuadre
                        <span class="chevron"></span>
                    </li>
                </ul>
                <div class="actions">
                    <button type="button"
                            ng-click="previous()"
                            class="btn btn-sm btn-primary btn-prev">
                        <i class="fa fa-arrow-left"></i>
                        Ant
                    </button>
                    <button type="button"
                            ng-click="(!isReadOnly) ? next(): null;"
                            class="btn btn-sm btn-success btn-next"
                            data-last="Fin">
                        Sig<i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="step-content" style="min-height: 428.2px!important;">
                <form class="form-horizontal">

                    <div class="step-pane active" data-step="1">
                        <div smart-include="app/dashboard/sqrt/includes/open.html"></div>
                    </div>
                    <div class="step-pane" data-step="2">
                        <div smart-include="app/dashboard/sqrt/includes/close.html"></div>
                    </div>
                    <div class="step-pane" data-step="3">
                        <div smart-include="app/dashboard/sqrt/includes/result.html"></div>
                    </div>

                </form>
            </div>
            <div class="form-actions text-align-left">
                <div class="row">
                    <div class="col col-sm-4">
                        <h2 class="no-margin">
                            <label class="label label-primary">
                                {{totalOpenCash | currency}}
                            </label>
                        </h2>
                    </div>
                    <div class="col col-sm-4">
                        <h2 class="no-margin">
                            <label class="label label-warning">
                                {{currency.totalAmount | currency}}
                            </label>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>