<div loading-pane="isLoading>0">
    <div style="margin-bottom: 0" jarvis-widget id="wid-id-1" data-widget-editbutton="false"
         data-widget-custombutton="false">

        <header>
            <span class="widget-icon">
                <i class="fa fa-money"></i>
            </span>

            <h2>Inicio De Caja</h2>

        </header>

        <!-- widget div-->
        <div>

            <div class="widget-body no-padding">
                <form id="create-product"
                      ng-submit="process();"
                      class="smart-form">

                    <header>
                        Total por denominacion
                    </header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-3">
                                <label>
                                <span>
                                    <img class="currency-pic"
                                         title="2,000 Pesos Dominicanos"
                                         src="styles/img/currency/2000.jpg">
                                </span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label>2,000 Pesos</label>
                                <label class="input">
                                    <input ng-blur="updateEntries()"
                                           title="Total de Papeletas"
                                           ng-model="currencySelected.twoThousand.total"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </label>
                            </section>

                            <section class="col col-3">
                                <label>
                                <span>
                                    <img class="currency-pic"
                                         title="1,000 Pesos Dominicanos"
                                         src="styles/img/currency/1000.jpg">
                                </span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label>1,000 Pesos</label>
                                <label class="input">
                                    <input ng-blur="updateEntries()"
                                           title="Total de Papeletas"
                                           ng-model="currencySelected.oneThousand.total"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </label>
                            </section>

                        </div>

                        <div class="row margin-top-15">
                            <section class="col col-3">
                                <label>
                                <span>
                                    <img class="currency-pic"
                                         title="500 Pesos Dominicanos"
                                         src="styles/img/currency/500.jpeg">
                                </span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label>500 Pesos</label>
                                <label class="input">
                                    <input ng-blur="updateEntries()"
                                           title="Total de Papeletas"
                                           ng-model="currencySelected.fiveHundred.total"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onchange="if (this.value()=== null) return 0"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </label>
                            </section>

                            <section class="col col-3">
                                <label>
                                <span>
                                    <img class="currency-pic"
                                         title="200 Pesos Dominicanos"
                                         src="styles/img/currency/200.jpeg">
                                </span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label>200 Pesos</label>
                                <label class="input">
                                    <input ng-blur="updateEntries()"
                                           title="Total de Papeletas"
                                           ng-model="currencySelected.twoHundred.total"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </label>
                            </section>
                        </div>

                        <div class="row margin-top-15">
                            <section class="col col-3">
                                <label>
                                <span>
                                    <img class="currency-pic"
                                         title="100 Pesos Dominicanos"
                                         src="styles/img/currency/100.jpg">
                                </span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label>100 Pesos</label>
                                <label class="input">
                                    <input ng-blur="updateEntries()"
                                           title="Total de Papeletas"
                                           ng-model="currencySelected.oneHundred.total"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </label>
                            </section>

                            <section class="col col-3">
                                <label>
                                <span>
                                    <img class="currency-pic"
                                         title="50 Pesos Dominicanos"
                                         src="styles/img/currency/50.gif">
                                </span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label>50 Pesos</label>
                                <label class="input">
                                    <input ng-blur="updateEntries()"
                                           title="Total de Papeletas"
                                           ng-model="currencySelected.fifty.total"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <header style="margin-top: -10px"></header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-3">
                                <label>
                                <span>
                                    <img class="currency-pic"
                                         title="25 Pesos Dominicanos"
                                         src="styles/img/currency/25.jpg">
                                </span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label>25 Pesos</label>
                                <label class="input">
                                    <input ng-blur="updateEntries()"
                                           title="Total de Papeletas"
                                           class="page-input"
                                           ng-model="currencySelected.twentyFive.total"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </label>
                            </section>

                            <section class="col col-3">
                                <label>
                                <span>
                                    <img class="currency-pic"
                                         title="10 Pesos Dominicanos"
                                         src="styles/img/currency/10.jpg">
                                </span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label>10 Pesos</label>
                                <label class="input">
                                    <input ng-blur="updateEntries()"
                                           title="Total de Papeletas"
                                           ng-model="currencySelected.ten.total"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </label>
                            </section>

                        </div>

                        <div class="row margin-top-15">
                            <section class="col col-3">
                                <label>
                                <span>
                                    <img class="currency-pic"
                                         title="5 Pesos Dominicanos"
                                         src="styles/img/currency/5.jpg">
                                </span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label>5 Pesos</label>
                                <label class="input">
                                    <input ng-blur="updateEntries()"
                                           title="Total de Papeletas"
                                           ng-model="currencySelected.five.total"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </label>
                            </section>

                            <section class="col col-3">
                                <label>
                                <span>
                                    <img class="currency-pic"
                                         title="1 Peso Dominicano"
                                         src="styles/img/currency/1.jpg">
                                </span>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label>1 Peso</label>
                                <label class="input">
                                    <input ng-blur="updateEntries()"
                                           title="Total de Papeletas"
                                           ng-model="currencySelected.one.total"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <footer>
                        <div style="padding-top: 10px" class="col col-6">
                            <h2>
                                {{currency.totalAmount | currency}}
                            </h2>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save padding-5"></i>Guardar
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>