<div id="content" loading-pane="isLoading > 0 ">
    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
    <!-- widget grid -->
    <div>
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-10">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-8">

                                                <div class="input-group">
                                                    <input type="text"
                                                           ng-enter="applyFilters();"
                                                           ng-model="criteria"
                                                           placeholder="Busca por Nombre, Cedula, RNC, Identificador o Telefono..."
                                                           title="Busca por Nombre, Cedula, RNC, Identificador o Telefono..."
                                                           style="padding: 19px; font-size: 22px"
                                                           class="form-control">
                                                    <div class="input-group-btn">
                                                        <button type="button"
                                                                ng-click="applyFilters()"
                                                                style="padding: 9px 20px; font-size: 20px"
                                                                class="btn btn-default"
                                                                tabindex="-1">
                                                            <span>
                                                                <i class="fa fa-search"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xs-2 text-right">
                                <a type="button"
                                   class="btn btn-sm btn-primary btn-create"
                                   href="#/customer/new">
                                    <i class="fa fa-plus padding-5"></i>
                                    Crear nuevo
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th class="col col-sm-1"></th>
                                <th class="col col-sm-1">Codigo</th>
                                <th class="col col-sm-1">Nombre</th>
                                <th class="col col-sm-3">Rnc/Cedula</th>
                                <th class="col col-sm-4">Telefono</th>
                                <th class="col col-sm-1">Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="customer in customers">
                                <td align="center" data-toggle="tooltip">
                                    <a class="cursor-pointer"
                                       title="Editar"
                                       style="margin: 2px"
                                       href="#/customer/{{customer.id}}/edition">
                                        <label class="label label-warning cursor-pointer" style="padding: 3px 7px;"> <i class="fa fa-pencil"></i></label>
                                    </a>
                                </td>
                                <td> {{customer.id}}</td>
                                <td style="white-space:nowrap;">{{customer.name | uppercase}}</td>
                                <td style="white-space:nowrap;">{{(customer.idCard || customer.rnc) ? (customer.idCard + customer.rnc).replace('null', '') : '- - -'}}</td>
                                <td>{{(customer.phone || '- - -') | uppercase}}</td>
                                <td>{{(customer.balance ? (customer.balance| currency) : "- - -")}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>