<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<header id="header" class="not-printable animated fadeInDown">

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="RV Imperio"> </span>
    </div>
</header>

<div class="not-printable" style="width: 100%; position: absolute">
        <big-breadcrumbs items="['Vista Previa']" icon="arrow-circle-right"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4">

        </big-breadcrumbs>
</div>
<br>
<div class="container" style="background: white">
    <div class="row">
        <div class="col-md-12">
            <div class="invoice-title">
                <h2 style="width: 50%;">Factura</h2>
                <h3 style="width: 50%; text-align: right" class="pull-right">No. 12019182</h3>
            </div>
            <hr>
            <div class="row">
                <div style="width: 50%; display: inline-flex; padding: 0 15px">
                    <address>
                        <strong>Imperio Electrico</strong><br>
                        Avenida Isabel Aguiar 84<br>
                        Zona Industrial Herrera,
                        Santo Domingo Oeste,
                        Rep. Dom.
                    </address>
                </div>
                <div style="width: 50%; display: inline-flex; padding: 0 15px;" class="text-right">
                    <address style="float: right; width: 100%">
                        <strong>Fecha De La Transaccion:</strong>
                        <br>
                        March 7, 2014<br><br>
                        <strong>Sobre El Cliente:</strong>
                        <br>
                        John Cena
                        <br>
                        Calle Royal Rumble, Num. 62
                        <br>
                        (809)-765-4241
                        <br>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <address>
                        <strong>Payment Method:</strong><br>
                        Visa ending **** 4242<br>
                        jsmith@email.com
                    </address>
                </div>
                <div class="col-md-6 text-right">
                    <address>
                        <strong>Order Date:</strong><br>
                        March 7, 2014<br><br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td><strong>Item</strong></td>
                                <td class="text-center"><strong>Price</strong></td>
                                <td class="text-center"><strong>Quantity</strong></td>
                                <td class="text-right"><strong>Totals</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                            <tr>
                                <td>BS-200</td>
                                <td class="text-center">$10.99</td>
                                <td class="text-center">1</td>
                                <td class="text-right">$10.99</td>
                            </tr>
                            <tr>
                                <td>BS-400</td>
                                <td class="text-center">$20.00</td>
                                <td class="text-center">3</td>
                                <td class="text-right">$60.00</td>
                            </tr>
                            <tr>
                                <td>BS-1000</td>
                                <td class="text-center">$600.00</td>
                                <td class="text-center">1</td>
                                <td class="text-right">$600.00</td>
                            </tr>
                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                <td class="thick-line text-right">$670.99</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-center"><strong>Shipping</strong></td>
                                <td class="no-line text-right">$15</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-center"><strong>Total</strong></td>
                                <td class="no-line text-right">$685.99</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="foot">
        <div style="text-align: center;">
            <button class="btn btn-primary hidden-print"
                    onclick="window.print()">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                Imprimir
            </button>
        </div>
    </footer>
</div>
<style>
    @page {
        size: auto;
        margin: 0mm;
    }

    body {
        background: white;
    }

    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }

    @media print {
        .container {
            width: 90%;
        !important;
            margin-left: 5%;
            margin-top: 70px;
        }
        .not-printable{
            visibility: hidden;
            height:0 !important;
            overflow: hidden;
        }
        .pull-right {
            float: right !important;
        }
    }
</style>