<link rel="stylesheet" href="/styles/css/lockscreen.min.css"/>
<div id="main" role="main">
    <form loading-pane="isLoading > 0 " class="lockscreen animated flipInY" ng-submit="validateUser();">
        <div ng-show="user">
            <div class="logo">
                <h1 class="semi-bold">
                    <img src="styles/img/imperio/logo.full.png" alt=""/>
                    Imperio Electrico
                </h1>
            </div>
            <div>
                <img src="styles/img/imperio/logo.full.png" alt="" width="120" height="120"/>
                <div>
                    <h1>
                        <i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile"></i>
                        {{user.firstName + " " + user.lastName || 'error'}}
                        <small>
                            <i class="fa fa-lock text-muted"></i>
                            &nbsp;Contraseña
                        </small>
                    </h1>
                    <p class="text-muted">
                        <a href="">{{user.email || 'error'}}</a>
                    </p>

                    <div class="input-group">
                        <input class="form-control"
                               type="password"
                               ng-model="user.password"
                               placeholder="Password">
                        <div class="input-group-btn">
                            <button class="btn btn-primary cursor-pointer" type="submit">
                                <i class="fa fa-key"></i>
                            </button>
                        </div>
                    </div>
                    <p class="no-margin margin-top-5">
                        Digite Nueva Contraseña.
                    </p>
                </div>

            </div>
            <p class="font-xs margin-top-5">
                Copyright Code Spot 2017-2018.
            </p>
        </div>
    </form>

</div>
