<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="RV Imperio"> </span>
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Necesita Comprar?</span>
        <a class="btn btn-danger"></a>
    </span>

</header>
<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <h1 class="txt-color-red login-header-big">Portal Administrador</h1>

                <div class="hero">
                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">Este es un accesso totalmente restringido, si posee las credenciales validas, por favor
                            pruebe iniciando sesion al completar el formulario de la derecha!</h4>

                        <div class="login-app-icons">
                            <a class="btn btn-danger btn-sm">
                                <i class="fa fa-briefcase"></i>
                                Cotizaciones
                            </a>
                            <a href-void class="btn btn-danger btn-sm">
                                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                                Negocios
                            </a>
                        </div>
                    </div>
                    <img src="styles/img/login/login.png" class="pull-right display-image" alt style="width:250px; height: 400px">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Deseas Atencion Personalizada?</h5>

                        <p>
                            Para una atencion mas personalizada o cualquier inquietud, escribenos a <a href="mailTo:help@imperioelectrico.com">help@imperioelectrico.com</a>
                            o llamanos al <a>+18095314422</a>, e inmediatamente sera atendido por uno de nuestros agentes especializados.

                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Importante: </h5>

                        <p>
                            Una vez iniciada la session cualquier persona con acceso a esta computadora podria aceder a
                            la sesion abierta, a no ser que se cierre debidamente despues de cada transaccion.
                            <label class="text-danger">No es recomendado guardar la contraseña en computadores compartidos.</label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form action="#/dashboard" id="login-form" class="smart-form client-form"  data-smart-validate-form>
                        <header>
                            Sign In
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">E-mail</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="email" name="email"
                                           data-smart-validate-input
                                           data-required
                                           data-email
                                           data-message-required="Please enter your email address"
                                           data-message-email="Please enter a VALID email address">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        Please enter email address/username</b></label>
                            </section>
                            <section>
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                   <input type="password" name="password"
                                          data-smart-validate-input
                                          data-required
                                          data-minlength="3"
                                          data-maxnlength="20"
                                          data-message="Please enter your email password">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                                        your password</b> </label>

                                <div class="note">
                                    <a ui-sref="invoicePreview">Forgot password?</a>
                                </div>
                            </section>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember" checked>
                                    <i></i>Stay signed in</label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Sign in
                            </button>
                        </footer>
                    </form>
                </div>
                <h5 class="text-center"> - Or sign in using -</h5>
                <ul class="list-inline text-center">
                    <li>
                        <a href-void class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
