<header style="height: 65px" id="header" class="not-printable animated fadeInDown">
    <div id="logo-group">
        <span id="logo"> <img style="padding: 5px 15px; width: 140px;" src="styles/img/logo.png"
                              alt="RV Imperio"> </span>
    </div>
</header>

<body style="min-height: 0!important;">
<div class="not-printable" style="width: 100%; position: absolute">
    <big-breadcrumbs items="['Impresora']" icon="arrow-circle-left"
                     class="col-xs-12 col-sm-7 col-md-7 col-lg-4 cursor-pointer pointer">
    </big-breadcrumbs>
</div>

<div style="margin-top: 25vh!important;" loading-pane="isLoading>0" class="container margin-top-50">
    <div jarvis-widget id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
        <!-- widget options:
            usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-cog"></i> </span>

            <h2>Configuracion de la Impresora</h2>

        </header>

        <!-- widget div-->
        <div>

            <div class="widget-body no-padding">
                <form id="create-product"
                      ng-submit="savePrinter();"
                      class="smart-form">

                    <fieldset>
                        <div class="row">
                            <section class="col col-md-6">
                                <label for="printer-pos">Impresora Punto de Venta</label>
                                <input type="text"
                                       id="printer-pos"
                                       ng-model="printer.pos"
                                       class="form-control product-search">
                            </section>
                            <section class="col col-md-6">
                                <label for="printer">Impresora Basica</label>
                                <input type="text"
                                       id="printer"
                                       ng-model="printer.basic"
                                       class="form-control product-search">
                            </section>
                            <section class="col col-md-6">
                                <label for="path">Directorio de Archivos de Impresion</label>
                                <input type="text"
                                       required
                                       id="path"
                                       ng-model="printer.directory"
                                       class="form-control product-search">
                            </section>
                            <section class="col col-md-6">
                                <label for="modified">Modificado por</label>
                                <input type="text"
                                       id="modified"
                                       disabled
                                       readonly
                                       ng-model="printer.modifier"
                                       class="form-control product-search">
                            </section>
                        </div>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save padding-5"></i>
                            Guardar
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#printer-pos").select2({
        minimumInputLength: 0,
        ajax: {
            url: 'http://localhost:60123/service/printers',
            dataType: 'json',
            quietMillis: 100,
            data: function (term) {
                return {
                    term: term
                };
            },
            results: function (data) {
                let results = [];
                $.each(data, function (index, item) {
                    results.push({
                        id: item.name,
                        text: item.name.toUpperCase()
                    });
                });
                return {
                    results: results
                };
            }
        }
    });

    $("#printer").select2({
        minimumInputLength: 0,
        ajax: {
            url: 'http://localhost:60123/service/printers',
            dataType: 'json',
            quietMillis: 100,
            data: function (term) {
                return {
                    term: term
                };
            },
            results: function (data) {
                let results = [];
                $.each(data, function (index, item) {
                    results.push({
                        id: item.name,
                        text: item.name.toUpperCase()
                    });
                });
                return {
                    results: results
                };
            }
        }
    });
    $("input").css("font-size", "16px");
    $("body").css("min-height", "0 !important");
</script>
</body>
