<div id="content" loading-pane="isLoading > 0 ">
    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
    <!-- widget grid -->
    <div>
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-10">
                                <div class="row">
                                    <form name="productForm"
                                          class="smart-form">
                                        <section class="col col-md-3">
                                            <label class="label no-padding" style="color: black; font-size: 12px; ">Desde</label>
                                            <label class="input">
                                                <input ng-model="filter.startDate"
                                                       data-mask-placeholder="-"
                                                       placeholder="dd-MM-yyyy"
                                                       data-smart-masked-input="99-99-9999"
                                                       type="text">
                                                <b class="tooltip tooltip-top-right">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Formato (Dia-Mes-Año)</b>
                                            </label>
                                        </section>
                                        <section class="col col-md-3">
                                            <label class="label no-padding" style="color: black; font-size: 12px; ">Hasta</label>
                                            <label class="input">
                                                <input ng-model="filter.endDate"
                                                       data-mask-placeholder="-"
                                                       placeholder="dd-MM-yyyy"
                                                       data-smart-masked-input="99-99-9999"
                                                       type="text">
                                                <b class="tooltip tooltip-top-right">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Formato (Dia-Mes-Año)</b>
                                            </label>
                                        </section>
                                        <section class="col col-xs-3" style="margin-top: 22px">
                                            <a type="button"
                                               title="Aplicar Filtro"
                                               ng-click="preApplyFilter()"
                                               class="btn btn-sm btn-primary btn-create">
                                                <i class="fa fa-search padding-5"></i>
                                                Aplicar
                                            </a>
                                            <a type="button"
                                               style="margin: 0 25px"
                                               title="Generar Reporte"
                                               class="btn btn-sm btn-warning btn-create">
                                                <i class="fa fa-print padding-5"></i>
                                                Reporte
                                            </a>
                                        </section>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th class="col col-sm-1">Documento</th>
                                <th class="col col-sm-2">Fecha Inicio</th>
                                <th class="col col-sm-2">Monto Inicio</th>
                                <th class="col col-sm-3">Iniciado Por</th>
                                <th class="col col-sm-1" style="text-align: center">Status</th>
                                <th class="col col-sm-3">Fecha Cierre</th>
                                <th class="col col-sm-3">Monto Cierre</th>
                                <th class="col col-sm-3">Cierre Por</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="document in receiptDocuments">
                                <td>
                                    <a class="cursor-pointer"
                                       ng-click="viewDetails(document);"
                                       title="Ver Detalles">
                                        {{document.docId}}
                                    </a>
                                </td>
                                <td style="white-space:nowrap;">{{(document.createdDate | date : "dd/MM/yyyy', 'hh:mm
                                    a")}}
                                </td>
                                <td style="white-space:nowrap;">
                                    {{document.openCashBox.totalAmount | currency}}
                                </td>
                                <td style="white-space:nowrap;">{{document.createdBy.firstName + ' ' +
                                    document.createdBy.lastName | uppercase}}
                                </td>

                                <td style="text-align: center">
                                    <label ng-show="document.status === 'OPENED'"
                                           class="label center-label label-success">
                                        {{document.status | uppercase}}
                                    </label>
                                    <label ng-hide="document.status === 'OPENED'"
                                           class="label center-label label-primary">
                                        {{document.status | uppercase}}
                                    </label>
                                </td>
                                <td style="white-space:nowrap;">
                                    {{ document.closeCashBox ? (document.closeCashBox.date | date : "dd/MM/yyyy',' hh:mm
                                    a") : '---'}}
                                </td>
                                <td style="white-space:nowrap;">
                                    {{document.closeCashBox? (document.closeCashBox.totalAmount | currency) : '$0.00'}}
                                </td>
                                <td style="white-space:nowrap;">{{document.closeCashBox? (document.createdBy.firstName +
                                    ' ' +
                                    document.createdBy.lastName | uppercase) : '---'}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center;" class="row">
                            <div class="width-70-center" style=" background: #fff; padding: 5px; font-size: 18px">
                                <a title="Inicio"
                                   ng-disabled="pager.index == 0"
                                   ng-click="setPager(0)"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-fast-backward"></i>
                                </a>
                                <a title="Previo"
                                   ng-click="setPager(pager.index - 1)"
                                   ng-disabled="pager.index == 0"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-step-backward"></i>
                                </a>
                                <span class="page-separator"></span>
                                <span class="page-text">Pagina</span>
                                <span class="page-input-container">
                                    <input min="1"
                                           max="{{pager.totalPages}}"
                                           ng-enter="setPager(pageHelper);"
                                           ng-model="pageHelper"
                                           ng-init="pageHelper=1"
                                           title="Pagina"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </span>
                                <span class="page-text">de {{pager.totalPages}} </span>
                                <span class="page-separator"></span>
                                <a title="Siguiente"
                                   ng-disabled="pager.index >= pager.totalPages -1"
                                   ng-click="setPager(pager.index + 1)"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-step-forward"></i>
                                </a>
                                <a ng-click="setPager(pager.totalPages - 1)"
                                   title="Ir al Ultimo"
                                   ng-disabled="pager.index >= pager.totalPages -1"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-fast-forward"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end widget grid -->
</div>