<form id="smart-form-register" class="smart-form" data-smart-registration-form>
    <header>
        Informacion Basica
    </header>

    <fieldset>

        <div class="row">
            <section class="col col-6">
                <label>Nombre</label>
                <label class="input">
                    <input type="text"
                           name="firstName"
                           placeholder="Nombre"
                           required
                           ng-model="user.firstName">
                </label>
            </section>
            <section class="col col-6">
                <label>Apellido</label>
                <label class="input">
                    <input type="text"
                           name="lastName"
                           required
                           placeholder="Apellidos"
                           ng-model="user.lastName">
                </label>
            </section>
        </div>
        <div class="row">

            <section class="col col-3">
                <label>Genero</label>
                <label class="select">
                    <select name="gender"
                            ng-disabled="editMode"
                            ng-model="user.gender"
                            required>
                        <option selected disabled>Genero</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select> <i></i> </label>
            </section>
            <section class="col col-3">
                <label>Nacionalidad</label>
                <label class="select">
                    <select name="gender"
                            ng-disabled="editMode"
                            ng-model="user.nationality"
                            required
                            ng-options="country.code as country.name for country in countries">
                    </select>
                    <i class="fa fa-flag"></i>
                </label>
            </section>

            <section class="col col-3">
                <label>Fecha de Nacimiento</label>
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input type="date"
                           name="request"
                           ng-change="setAge()"
                           max="{{maxDate}}"
                           required
                           data-dateformat="dd/mm/yy"
                           ng-model="user.birthDate">
                </label>
            </section>

            <section class="col col-3">
                <label>Edad</label>
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input type="text"
                           min="18"
                           max="99"
                           disabled
                           class="input-disabled"
                           ng-model="user.age"
                           data-smart-masked-input="99"
                           data-mask-placeholder="0">
                </label>
            </section>
        </div>

    </fieldset>

    <fieldset>

        <div class="row">

            <section class="col col-6">
                <label>Nombre de Usuario</label>
                <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <input ng-model="user.username"
                           type="text"
                           name="username"
                           required
                           minlength="6"
                           maxlength="16"
                           placeholder="Username">
                    <b class="tooltip tooltip-bottom-right">Nombre de Usuario</b>
                </label>
            </section>

            <section class="col col-6">
                <label>Cedula</label>
                <label class="input">
                    <i class="icon-append fa fa-id-card"></i>
                    <input ng-model="user.idCard"
                           data-smart-masked-input="999-9999999-9"
                           data-mask-placeholder="-"
                           required
                           type="text">
                    <b class="tooltip tooltip-bottom-right">Numero de Cedula (Requerido)</b>
                </label>
            </section>
        </div>
    </fieldset>
</form>