<form id="smart-form-register" class="smart-form" data-smart-registration-form>
    <header>
        Informacion de Contacto
    </header>


    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label>Correo Electronico</label>
                <label class="input">
                    <i class="icon-append fa fa-envelope"></i>
                    <input ng-model="user.email"
                           type="email"
                           name="email"
                           required
                           placeholder="Correo Electronico">
                    <b class="tooltip tooltip-bottom-right">Correo Electronico (Requerido)</b>
                </label>
            </section>
            <section class="col col-6">
                <label>Celular</label>
                <label class="input">
                    <i class="icon-append fa fa-phone"></i>
                    <input ng-model="user.phoneNumber"
                           type="text"
                           name="phoneNumber"
                           data-smart-masked-input="(999)-999-9999"
                           data-mask-placeholder="-">
                    <b class="tooltip tooltip-bottom-right">Telefono Celular</b>
                </label>
            </section>
            <section class="col col-3">
                <label>Estado Civil</label>
                <label class="select">
                    <select name="gender"
                            ng-model="user.married"
                            required>
                        <option selected disabled>-- Select --</option>
                        <option value="ST">Soltero</option>
                        <option value="CS">Casado</option>
                        <option value="UL">Union Libre</option>
                        <option value="DV">Divorciado</option>
                        <option value="VD">Viudo</option>
                    </select> <i></i>
                </label>
            </section>
            <section class="col col-3">
                <label>Total de Hijos</label>
                <label class="input">
                    <i class="icon-append fa  fa-child"></i>
                    <input ng-model="user.children"
                           type="number"
                           name="children"
                           min="0"
                           max="99">
                    <b class="tooltip tooltip-bottom-right">Total de Hijos</b>
                </label>
            </section>
            <section class="col col-6">
                <label>Conyugue</label>
                <label class="input">
                    <i class="icon-append fa fa-mars"></i>
                    <input ng-model="user.wife"
                           ng-disabled="user.married !== 'CS' && user.married !== 'UL' "
                           type="text"
                           name="wife">
                    <b class="tooltip tooltip-bottom-right">Pareja Emocional</b>
                </label>
            </section>
        </div>
    </fieldset>
    <fieldset>
        <div class="row">
            <section class="col col-lg-12">
                <label class="label">Direccion</label>
                <label class="textarea">
                    <i class="icon-append fa fa-map-marker"></i>
                    <textarea rows="1"
                              style="height: 32px"
                              name="message"
                              ng-model="user.address"
                              id="message">
                    </textarea>
                </label>
            </section>
        </div>
    </fieldset>
</form>