<form id="smart-form-register" class="smart-form" data-smart-registration-form>
    <header>
        Informacion Laboral
    </header>

    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label>Fecha de Contratacion</label>
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input type="date"
                           ng-disabled="editMode"
                           name="request"
                           data-dateformat="dd/mm/yy"
                           ng-model="user.joinDate">
                </label>
            </section>
            <section class="col col-6">
                <label>Cuenta Bancaria</label>
                <label class="input">
                    <i class="icon-append fa fa-money"></i>
                    <input ng-model="user.bankAccountNumber"
                           type="text">
                    <b class="tooltip tooltip-bottom-right">Numero de Cuenta Bancaria</b>
                </label>
            </section>
            <section class="col col-6">
                <label>Salario Inicial</label>
                <label class="input">
                    <i class="icon-append fa fa-money"></i>
                    <input ng-model="user.initialSalary"
                           type="text"
                           ng-disabled="editMode"
                           format="number">
                    <b class="tooltip tooltip-bottom-right">Primer Salario</b>
                </label>
            </section>
            <section class="col col-6">
                <label>Salario Actual</label>
                <label class="input">
                    <i class="icon-append fa fa-money"></i>
                    <input ng-model="user.currentSalary"
                           ng-disabled="editMode"
                           type="text"
                           format="number">
                    <b class="tooltip tooltip-bottom-right">Salario A La Fecha</b>
                </label>
            </section>
        </div>
    </fieldset>
    <fieldset>
        <div class="row">

            <section class="col col-6">
                <label>Rol de Usuario</label>
                <label class="select">
                    <select name="category"
                            ng-disabled="editMode"
                            ng-model="user.role"
                            ng-required="true"
                            ng-options="role as role.description for role in roleList">
                        <option></option>
                    </select> <i></i>
                </label>
            </section>
            <section class="col col-6">
                <label>Status</label>
                <label class="select">
                    <select name="category"
                            ng-disabled="editMode"
                            ng-model="user.status"
                            ng-required="true"
                            ng-options="status as status.description for status in statusList">
                        <option></option>
                    </select> <i></i>
                </label>
            </section>
        </div>
    </fieldset>
</form>