<div class="modal fade" id="addNewModal" tabindex="-1">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                    Agregar
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12 form-group-sm">
                        <label class="control-label" >Nombre
                            <span style="color:red;"></span>
                        </label>
                        <input id="description"
                               name="description"
                               ng-model="aggregation.description"
                               class="form-control"/>
                    </div>
                </div>
                <button data-dismiss="modal"
                        ng-click="addNew();"
                        class="btn btn-default">
                    <i class="fa fa-plus"></i>
                    Agregar
                </button>
            </div>

        </div>
    </div>
</div>