<div id="content" loading-pane="isLoading > 0 ">
    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
    <!-- widget grid -->
    <div>
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-10">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-8">

                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <button type="button"
                                                                style="padding: 5px; font-size: 20px"
                                                                class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown" tabindex="-1">
                                                            <span> {{searchObject[searchBy]}}
                                                                <span class="caret"></span>
                                                            </span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-left" role="menu" style="font-size: 20px">
                                                            <li ng-click="searchBy = 'name'">
                                                                <a ng-click="searchBy = 'name'"
                                                                   data-toggle="dropdown"
                                                                   data-dismiss="dropdown"
                                                                   href-void>Nombre
                                                                </a>
                                                            </li>
                                                            <li ng-click="searchBy = 'description'">
                                                                <a ng-click="searchBy = 'description'"
                                                                   data-dismiss="dropdown"
                                                                   data-toggle="dropdown"
                                                                   href-void>Descripcion
                                                                </a>
                                                            </li>
                                                            <li ng-click="searchBy = 'category'">
                                                                <a ng-click="searchBy = 'category'"
                                                                   data-dismiss="dropdown"
                                                                   data-toggle="dropdown"
                                                                   href-void>Categoria</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <input type="text"
                                                           ng-enter="applyFilters();"
                                                           ng-model="criteria"
                                                           style="padding: 19px; font-size: 22px"
                                                           class="form-control">
                                                    <div class="input-group-btn">
                                                        <button type="button"
                                                                ng-click="applyFilters()"
                                                                style="padding: 9px 20px; font-size: 20px"
                                                                class="btn btn-default"
                                                                tabindex="-1">
                                                            <span >
                                                                <i class="fa fa-search"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>                            </div>
                            <div class="col col-xs-2 text-right">
                                <a type="button" class="btn btn-sm btn-primary btn-create" href="#/products/new">
                                    <i class="fa fa-plus padding-5"></i>
                                    Crear nuevo
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th class="col col-sm-2"></th>
                                <th class="col col-sm-1">Código</th>
                                <th class="col col-sm-2">Nombre</th>
                                <th class="col col-sm-4">Descripción</th>
                                <th class="col col-sm-1">Categoría</th>
                                <th class="col col-sm-1">Existencia</th>
                                <th class="col col-sm-1">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in productList">
                                <td align="center" data-toggle="tooltip">
                                    <a class="cursor-pointer" title="Detalles" style="margin: 2px;" href="#/products/{{product.id}}/details">
                                        <label  class="label label-primary cursor-pointer" style="padding: 3px 7px;"> <i class="fa fa-eye"></i></label>
                                    </a>
                                    <a class="cursor-pointer" title="Editar" style="margin: 2px" href="#/products/{{product.id}}/edition">
                                        <label class="label label-warning cursor-pointer" style="padding: 3px 7px;"> <i class="fa fa-pencil"></i></label>
                                    </a>
                                </td>
                                <td> {{product.code}}</td>
                                <td style="white-space:nowrap;">{{product.name | uppercase}}</td>
                                <td style="white-space:nowrap;">{{(product.description | uppercase) | limitTo:45}}</td>
                                <td>{{product.category.name |uppercase}}</td>
                                <td>{{(product.totalAmount + " Uds")}}</td>
                                <td><label class="label label-success">{{product.salePrice | currency}}</label></td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center;" class="row" >
                            <div class="width-70-center" style=" background: #fff; padding: 5px; font-size: 18px">
                                <a title="Inicio"
                                   ng-disabled="pager.index == 1"
                                   ng-click="setPager(1)"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-fast-backward"></i>
                                </a>
                                <a title="Previo"
                                   ng-click="setPager(pager.index - 1)"
                                   ng-disabled="pager.index == 1"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-step-backward"></i>
                                </a>
                                <span class="page-separator"></span>
                                <span class="page-text">Pagina</span>
                                <span class="page-input-container">
                                    <input min="1"
                                           max="{{pager.totalPages}}"
                                           ng-enter="setPager(pageHelper);"
                                           ng-model="pageHelper"
                                           ng-init="pageHelper=1"
                                           title="Pagina"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number" >
                                </span>
                                <span class="page-text">de {{pager.totalPages}} </span>
                                <span class="page-separator"></span>
                                <a title="Siguiente"
                                   ng-disabled="pager.index >= pager.totalPages"
                                   ng-click="setPager(pager.index + 1)"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-step-forward"></i>
                                </a>
                                <a ng-click="setPager(pager.totalPages)"
                                   title="Ir al Ultimo"
                                   ng-disabled="pager.index >= pager.totalPages"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-fast-forward"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end widget grid -->
</div>