<div id="content" data-sparkline-container data-easy-pie-chart-container>
    <!-- row -->
    <section loading-pane="isLoading>0" id="widget-grid" class="">

        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12">
                <!-- product -->
                <div class="product-content product-wrap clearfix product-deatil">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12 ">
                            <div class="product-image">
                                <div id="myCarousel-2" class="carousel slide" data-smart-ride-carousel>
                                    <div class="carousel-inner">
                                        <!-- Slide 1 -->
                                        <div class="item active" style="text-align: center">
                                            <img style="height:450px; width: 60%; margin-left: 20%"
                                                 ng-src="{{product.image}}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">

                            <h2 class="name">
                                {{product.name | uppercase}}
                                <small>Elaborado por <a href-void>{{product.brand.name | uppercase}}</a></small>
                                <small style="padding-top: 3px" href-void>
                                    Total en Existencia <a>({{product.totalAmount === 0 ? '0':
                                    product.totalAmount}})</a>
                                </small>

                            </h2>
                            <hr>
                            <h3 class="price-container">
                                RD {{product.salePrice | currency}}
                                <small>*impuestos no incluidos</small>
                            </h3>

                            <div class="certified">
                                <ul>
                                    <li><a href-void>Fecha de Creacion<span>
                                        <i style="padding-right: 5px;color: rebeccapurple;" class="fa fa-calendar"></i>
                                        {{product.createdDate | date: 'mediumDate'}}</span>
                                    </a>
                                    </li>
                                    <li><a href-void>Fecha de Modificacion<span>
                                        <i style="padding-right: 5px;color: rebeccapurple;" class="fa fa-calendar"></i>
                                        {{product.modifiedDate | date: 'mediumDate'}}</span>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="description description-tabs">


                                <ul id="myTab" class="nav nav-pills">
                                    <li class="active">
                                        <a href="#more-information"
                                           data-toggle="tab" class="no-margin">Descripcion de
                                            producto</a>
                                    </li>
                                    <li class="">
                                        <a href="#specifications" data-toggle="tab">Especificaciones</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="more-information">
                                        <br>
                                        <strong>Descripcion del producto</strong>
                                        <p style="text-transform: capitalize">
                                            {{product.description | lowercase}}
                                        </p>
                                        <strong>Ubicacion en Almacen</strong>
                                        <p style="text-transform: capitalize">
                                            {{product.location | lowercase}}
                                        </p>
                                    </div>

                                    <div class="tab-pane fade" id="specifications">
                                        <br>
                                        <table class="table">
                                            <thead class="thead-inverse" style="color: rebeccapurple;">
                                            <tr>
                                                <th>Codigo de producto</th>
                                                <th>Adquisicion</th>
                                                <th>Total en existencia</th>
                                                <th>Mayorista</th>
                                                <th>Cantidad Mayorista</th>
                                                <th>Creador</th>
                                            </tr>
                                            </thead>
                                            <tbody style="color: #21c2f8">
                                            <tr>
                                                <td>{{product.code}}</td>
                                                <td>RD$ {{product.purchasePrice}}</td>
                                                <td>({{product.totalAmount || 0}}) Unidades</td>
                                                <td>{{product.wholesalePrice | currency}}</td>
                                                <td style="text-align: center">
                                                    {{product.wholesaleQuantity}}
                                                    <label class="label label-warning" style="margin-left: 10px">{{product.pack.name}}</label>
                                                </td>
                                                <td>
                                                    {{product.createdBy.firstName + ' ' + product.createdBy.lastName}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <a data-toggle="modal"
                                       href="#/products/{{product.id}}/edition"
                                       class="btn btn-warning btn-md">
                                        <i class="fa fa-wrench"></i>
                                        Editar
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end product -->
            </div>
        </div>
    </section>
</div>