<div class="width-pc-100">
    <div class="alert alert-info">
        <strong>NOTA:</strong> Solo se muestran las ultimas  <strong>15 transacciones</strong> en orden de mas reciente.
    </div>
</div>

<div id="content" loading-pane="isLoading > 0 ">
    <div>
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-10">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-8">

                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <button type="button"
                                                                style="padding: 5px; font-size: 20px"
                                                                class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown" tabindex="-1">
                                                            <span> {{searchObject[searchBy]}}
                                                                <span class="caret"></span>
                                                            </span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-left" role="menu" style="font-size: 20px">
                                                            <li ng-click="searchBy = 'invoiceId'">
                                                                <a ng-click="searchBy = 'invoiceId'"
                                                                   data-toggle="dropdown"
                                                                   data-dismiss="dropdown"
                                                                   href-void>
                                                                    {{searchObject['invoiceId']}}
                                                                </a>
                                                            </li>
                                                            <li ng-click="searchBy = 'client'">
                                                                <a ng-click="searchBy = 'client'"
                                                                   data-dismiss="dropdown"
                                                                   data-toggle="dropdown"
                                                                   href-void>
                                                                    {{searchObject['client']}}
                                                                </a>
                                                            </li>
                                                            <li ng-click="searchBy = 'rnc'">
                                                                <a ng-click="searchBy = 'rnc'"
                                                                   data-dismiss="dropdown"
                                                                   data-toggle="dropdown"
                                                                   href-void>
                                                                    {{searchObject['rnc']}}
                                                                </a>
                                                            </li>
                                                            <li ng-click="searchBy = 'date'">
                                                                <a ng-click="searchBy = 'date'"
                                                                   data-dismiss="dropdown"
                                                                   data-toggle="dropdown"
                                                                   href-void>
                                                                    {{searchObject['date']}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <input type="text"
                                                           ng-enter="applyFilters();"
                                                           ng-model="criteria"
                                                           style="padding: 19px; font-size: 22px"
                                                           class="form-control">
                                                    <div class="input-group-btn">
                                                        <button type="button"
                                                                ng-click="applyFilters()"
                                                                style="padding: 9px 20px; font-size: 20px"
                                                                class="btn btn-default"
                                                                tabindex="-1">
                                                            <span >
                                                                <i class="fa fa-search"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-xs-2 text-right">
                                <a type="button" class="btn btn-sm btn-primary btn-create" href="#/invoice/new">
                                    <i class="fa fa-plus padding-5"></i>
                                    Crear nuevo
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th class="col col-sm-1"></th>
                                <th class="col col-sm-2">Numero de documento</th>
                                <th class="col col-sm-3">Cliente</th>
                                <th class="col col-sm-3">Fecha y Hora</th>
                                <th class="col col-sm-3">Tipo de documento</th>
                                <th class="col col-sm-1">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="invoice in invoiceList">
                                <td align="center" data-toggle="tooltip">
                                    <a class="cursor-pointer" title="Ver" style="margin: 2px;" href="#/invoice/{{invoice.invoiceId}}/preview">
                                        <label  class="label label-primary cursor-pointer" style="padding: 3px 7px;">
                                            <i class="fa fa-eye"></i>
                                        </label>
                                    </a>
                                </td>
                                <td> {{'FA-'+invoice.invoiceId}}</td>
                                <td style="white-space:nowrap;">{{invoice.customer.name | uppercase}}</td>
                                <td style="white-space:nowrap;">{{(invoice.date | date: "dd/MM/yyyy 'a las' hh:mm:ss a")}}</td>
                                <td style="white-space:nowrap;">{{invoice.status === 'DRAFTED' ? 'COTIZACIÓN': 'FACTURA'}}</td>
                                <td>{{invoice.total |currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end widget grid -->
</div>
