<div id="content" loading-pane="isLoading > 0 ">
    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
    <!-- widget grid -->
    <div>
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-10"></div>
                            <div class="col col-xs-2 text-right">
                                <a type="button" class="btn btn-sm btn-primary btn-create" href="#/entry/new">
                                    <i class="fa fa-plus padding-5"></i>
                                    Crear nuevo
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th class="col col-sm-1"></th>
                                <th class="col col-sm-1">Documento</th>
                                <th class="col col-sm-2">Entrada</th>
                                <th class="col col-sm-2">Modificacion</th>
                                <th class="col col-sm-3">Creado Por</th>
                                <th class="col col-sm-3">Modificado Por</th>
                                <th class="col col-sm-1" style="text-align: center">Status</th>
                                <th class="col col-sm-1">Inversion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="document in receiptDocuments">
                                <td align="center" data-toggle="tooltip">
                                    <a class="cursor-pointer" title="Editar" style="margin: 2px"
                                       href="#/entry/{{document.documentId}}/edition">
                                        <label class="label label-warning cursor-pointer" style="padding: 3px 7px;">
                                            <i class="fa fa-pencil"></i>
                                        </label>
                                    </a>
                                </td>
                                <td> {{document.documentId}}</td>
                                <td style="white-space:nowrap;">{{(document.createdDate | date : 'dd/MM/yyyy')}}
                                <td style="white-space:nowrap;">{{(document.modificationDate | date : 'dd/MM/yyyy')}}
                                </td>
                                <td style="white-space:nowrap;">{{document.createdBy.firstName + ' ' +
                                    document.createdBy.lastName | uppercase}}
                                </td>
                                <td style="white-space:nowrap;">{{document.modifiedBy.firstName + ' ' +
                                    document.modifiedBy.lastName | uppercase}}
                                </td>
                                <td style="text-align: center">
                                    <label ng-show="document.status.id === 1000000002" class="label center-label label-success">
                                        {{document.status.description | uppercase}}
                                    </label>
                                    <label ng-hide="document.status.id === 1000000002" class="label center-label label-primary">
                                        {{document.status.description | uppercase}}
                                    </label>
                                </td>
                                <td>
                                    <label style="padding: 0 20px 0 0; text-align: right;">
                                        {{(document.total | currency)}}
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center;" class="row">
                            <div class="width-70-center" style=" background: #fff; padding: 5px; font-size: 18px">
                                <a title="Inicio"
                                   ng-disabled="pager.index == 1"
                                   ng-click="setPager(1)"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-fast-backward"></i>
                                </a>
                                <a title="Previo"
                                   ng-click="setPager(pager.index - 1)"
                                   ng-disabled="pager.index == 1"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-step-backward"></i>
                                </a>
                                <span class="page-separator"></span>
                                <span class="page-text">Pagina</span>
                                <span class="page-input-container">
                                    <input min="1"
                                           max="{{pager.totalPages}}"
                                           ng-enter="setPager(pageHelper);"
                                           ng-model="pageHelper"
                                           ng-init="pageHelper=1"
                                           title="Pagina"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </span>
                                <span class="page-text">de {{pager.totalPages}} </span>
                                <span class="page-separator"></span>
                                <a title="Siguiente"
                                   ng-disabled="pager.index >= pager.totalPages"
                                   ng-click="setPager(pager.index + 1)"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-step-forward"></i>
                                </a>
                                <a ng-click="setPager(pager.totalPages)"
                                   title="Ir al Ultimo"
                                   ng-disabled="pager.index >= pager.totalPages"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-fast-forward"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end widget grid -->
</div>