<div class="width-pc-100">
    <div class="alert alert-warning" style="text-transform: capitalize">
        <strong>NOTA:</strong> Los Datos Ingresados pueden tardar unos minutos en reflejarse. <strong></strong>
    </div>
</div>
<div loading-pane="isLoading>0" class="container margin-top-50">
    <div jarvis-widget id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
        <!-- widget options:
            usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widgeNt-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i style="padding-top: 10px" class="fa fa-edit"></i> </span>

            <h2>Entrada de Producto</h2>

        </header>

        <!-- widget div-->
        <div>

            <div class="widget-body no-padding">
                <form id="create-product"
                      ng-submit="process();"
                      class="smart-form">

                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label>Entregado por</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-product-hunt"></i>
                                    <input type="text"
                                           ng-disabled="document.documentId"
                                           ng-model="employee"
                                           ng-change="setEmployee(employee)"
                                           id="employee"
                                           class="form-control">
                                </label>
                            </section>
                            <section class="col col-4">
                                <label>Suplidor</label>
                                <label class="select">
                                    <select name="brand"
                                            ng-disabled="document.documentId"
                                            ng-model="document.vendor"
                                            ng-required="true"
                                            ng-options="vendor as vendor.description for vendor in vendorList">
                                        <option></option>
                                    </select> <i></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label>Fecha</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-calendar"></i>
                                    <input ng-disabled="true"
                                           type="text"
                                           name="name"
                                           ng-model="fakeDate">
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <table id="myTable" class=" table order-list">
                        <thead>
                        <tr style="text-align: center">
                            <td><h3>Producto</h3></td>
                            <td><h3>Cantidad</h3></td>
                            <td><h3>Precio Nuevo</h3></td>
                            <td><h3>Venta</h3></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in document.products">
                            <td class="col-sm-3">
                                <div class="col col-sm-1">
                                    <button ng-if="$index + 1 < document.products.length " ng-click="removeRow($index)"
                                            type="button"
                                            ng-disabled="product.docId"
                                            title="Eliminar fila"
                                            class="btn btn-labeled btn-danger"
                                            style="margin-top: 5px">
                                        <i class="glyphicon glyphicon-remove"
                                           style="padding: 5px 5px;color: white;"></i>
                                    </button>
                                </div>
                                <div class="col col-sm-9">
                                    <input type="text"
                                           ng-disabled="product.docId"
                                           id="select2-{{$index}}"
                                           ng-model="product.id"
                                           ng-change="addProduct(product.id, $index)"
                                           class="form-control product-search">
                                </div>
                                <div class="col col-sm-1">
                                    <button title="Crear Nuevo Producto"
                                            type="button"
                                            ng-disabled="product.docId"
                                            ng-click="open($index)"
                                            class="btn btn-labeled btn-success"
                                            style="margin-top: 5px">
                                        <i class="glyphicon glyphicon-plus"
                                           style="padding: 5px 5px;color: white;"></i>
                                    </button>
                                </div>
                                <div class="col col-sm-1">
                                    <a title="Detalles del Producto"
                                       ng-if="$index + 1 < document.products.length"
                                       ng-click="details(product.id)"
                                       class="btn btn-labeled btn-warning"
                                       style="margin-top: 5px">
                                        <i class="fa fa-eye"
                                           style="padding: 5px 5px;color: white;"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="col-sm-1" style="text-align: center">
                                <input type="text"
                                       ng-disabled="product.docId"
                                       format="number"
                                       style="width: 90px!important;text-align: center; margin-left: 25.5%"
                                       min="0"
                                       ng-blur="validateTotal($index, product.id)"
                                       onchange="if (this.value === '' || Number(this.value)<= 0 ) this.value = '1.00'"
                                       ng-model="product.qty"
                                       class="form-control page-input"/>
                            </td>
                            <td class="col-sm-1">
                                <input type="text"
                                       ng-disabled="product.docId"
                                       style="width: 90px!important; text-align: center; margin-left: 25.5%"
                                       format="number"
                                       min="0"
                                       ng-blur="setSalePrice($index, product.id)"
                                       onchange="if (this.value === '' || Number(this.value)<= 0 ) this.value = '1.00'"
                                       ng-model="product.price"
                                       class="form-control page-input"/>
                            </td>
                            <td class="col-sm-1" style="text-align: center">
                                <strong>
                                    <label style="margin-top: 8px">{{(product.salePrice)| currency}}</label>
                                </strong>
                            </td>
                        </tr>
                        <tr class="invoice-totals" style="margin-top: 10px">
                            <td class="col-sm-3"></td>
                            <td class="col-sm-1" style="text-align: center"></td>
                            <td class="col-sm-1" style="text-align: center">
                                <h2>Total: </h2>
                            </td>
                            <td class="col-sm-1" style="text-align: center">
                                {{document.total | currency}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <footer>
                        <button ng-show="allowSave"
                                type="submit"
                                ng-click="document.isFinished = true"
                                title="Procesar la venta de los articulos?" class="btn btn-primary">
                            <i class="fa fa-cog padding-5"></i>
                            Procesar
                        </button>
                        <button ng-show="allowSave"
                                type="submit"
                                ng-click="document.isFinished = false"
                                title="Guardar en modo de cotizacion?"
                                class="btn btn-success">
                            <i class="fa fa-save padding-5"></i>
                            Terminar Luego
                        </button>
                        <button ng-show="allowSave"
                                type="button"
                                ng-click="state.reload();"
                                title="Cancelar la transaccion y limpiar la ventana?"
                                class="btn btn-warning">
                            <i class="fa fa-trash padding-5"></i>
                            Cancelar
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
<div smart-include="app/misc/customer/modal/addCustomerModal.html"></div>
<script>
    $("#employee").select2({
        minimumInputLength: 0,
        ajax: {
            url: '/api/util/employee',
            dataType: 'json',
            quietMillis: 100,
            data: function (term) {
                return {
                    term: term
                };
            },
            results: function (data) {
                let results = [];
                $.each(data, function (index, item) {
                    results.push({
                        id: item.userId,
                        text: `${item.firstName.toUpperCase()} ${item.lastName.toUpperCase()}`
                    });
                });
                return {
                    results: results
                };
            }
        }
    });

    setTimeout(function () {
        $(".product-search").select2({
            minimumInputLength: 0,
            ajax: {
                url: '/api/product/filter',
                dataType: 'json',
                quietMillis: 100,
                data: function (term) {
                    return {
                        term: term
                    };
                },
                results: function (data) {
                    let results = [];
                    $.each(data, function (index, item) {
                        results.push({
                            id: item.id,
                            text: item.name.toUpperCase()
                        });
                    });
                    return {
                        results: results
                    };
                }
            }
        });
        $("#employee").select2('data', {id: 1000000000, text: 'ADMINISTRADOR'.toUpperCase()}).trigger('change');
    }, 100);

    //    setInterval(function () {
    //        $("#mySelect2").select2('data', {id:3620194, text:'select2'}).trigger('change');
    //    }, 1000)
</script>