<div class="page-footer" xmlns="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">
                        Powered by <strong><a
                    href="mailTo:joseanibal.rodpez@gmail.com">Ing. José A. Rodriguez L.</a></strong>
            </span>
        </div>

        <div class="col-xs-6 col-sm-6 text-right hidden-xs">
            <div class="txt-color-white inline-block">
                <i class="txt-color-blueLight hidden-mobile">
                    <i class="fa fa-code-fork"></i>
                    <strong>
                        v1.0.0&nbsp;</strong>
                </i>
            </div>
        </div>
    </div>
</div>