<header id="header">
<div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="styles/img/logo.png" alt="RV Imperio"> </span>
    <!-- END LOGO PLACEHOLDER -->

    <!-- Note: The activity badge color changes when clicked and resets the number to 0
    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
    <span id="activity" class="activity-dropdown">
          <!--activities-dropdown-toggle> -->
        <i class="fa fa-user"></i> 
        <b class="badge">0</b>
    </span>
    <!--<div smart-include="app/dashboard/activities/activities.html"></div>-->
</div>


<!--<recent-projects></recent-projects>-->



<!-- pulled right: nav area -->
<div class="pull-right">

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-right">
        <span> <a toggle-menu title="Collapse Menu"><i
                class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->

    <!-- #MOBILE -->
    <!-- Top menu profile link : this shows only when top menu is active -->
    <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
        <li class="">
            <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                <img src="styles/img/avatars/male.png" alt="John Doe" class="online"/>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a ui-sref="app.profile" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i>
                        <u>P</u>erfil</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/#/printer" class="padding-10 padding-top-0 padding-bottom-0">
                        <i class="fa fa-print"></i>
                        Impresora
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/#/voucher" class="padding-10 padding-top-0 padding-bottom-0">
                        <i class="fa fa-feed"></i>
                        Comprobantes
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/logout"
                       class="padding-10 padding-top-5 padding-bottom-5"
                       data-action="userLogout"><i
                            class="fa fa-sign-out fa-lg"></i> <strong><u>C</u>errar sesion</strong>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div id="logout" class="btn-header transparent pull-right">
        <span> <a ui-sref="login" title="Sign Out" data-action="userLogout"
                  data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i
                class="fa fa-sign-out"></i></a> </span>
    </div>
    <!-- end logout button -->

    <!-- search mobile button (this is hidden till mobile view port) -->
    <div id="search-mobile" class="btn-header transparent pull-right" data-search-mobile>
        <span> <a href="#" title="Search"><i class="fa fa-search"></i></a> </span>
    </div>
    <!-- end search mobile button -->

    <!-- input: search field -->
    <!-- end input: search field -->

    <!-- fullscreen button -->
    <!-- end fullscreen button -->

    <!-- #Voice Command: Start Speech -->
    <!-- end voice command -->



    <!-- multiple lang dropdown : find all flags in the flags page -->
    <!--<language-selector></language-selector>-->
    <!-- end multiple lang -->

</div>
<!-- end pulled right: nav area -->

</header>
