<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>
            <li data-menu-collapse>
                <a href="#"
                   style="padding: 10px 50px !important;"
                   title="Dashboard"
                   data-ui-sref-active="active"
                   data-ui-sref="app.dashboard">
                    <i class="fa fa-lg fa-fw fa-home"></i>
                    <span class="menu-item-parent">Inicio</span>
                </a>
            </li>

            <li data-menu-collapse>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span class="menu-item-parent">Productos</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.eCommerce.orders" title="Productos"> Todos Los Productos</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.eCommerce.new" title="Products View">Agregar Nuevo</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.allEntries" title="Products View">Entrada de Productos</a>
                    </li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-folder-open-o"></i>
                    <span class="menu-item-parent">Ventas</span>
                </a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.invoiceList" title="Ventas Realizadas">Realizadas</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.newInvoice" title="Products View">Nueva Factura</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.misc.cashBoxList" title="Cierre de Caja">Cierre de Caja</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#">
                    <i class="fa fa-lg fa-fw fa-handshake-o"></i> <span class="menu-item-parent">Clientes</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.ui.all" title="Productos">Clientes</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.ui.new" title="Products View">Cliente Nuevo</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse class="chat-users top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-comment-o"><em class="bg-color-pink flash animated">!</em></i>
                    <span class="menu-item-parent">{{getWord('Smart Chat API')}} <sup>{{getWord('beta')}}</sup></span></a>
                <div aside-chat-widget></div>
            </li>
        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

    <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>