<div loading-pane="isLoading>0">
    <div style="margin-bottom: 0" jarvis-widget id="wid-id-1" data-widget-editbutton="false"
         data-widget-custombutton="false">
        <!-- widget options:
            usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon">
                <i class="fa fa-info-circle"></i>
            </span>
            <button class="close pull-right"
                    style="padding: 7px"
                    title="Cerrar"
                    ng-click="uibModalInstance.close(null)">&times;
            </button>

            <h2>Informacion de Producto</h2>

        </header>
        <!-- widget div-->
        <div>
            <!-- row -->
            <section id="widget-grid" class="">

                <div class="row">

                    <div ng-if="product !== null" style="padding: 0" class="col-sm-12 col-md-12 col-lg-12">
                        <!-- product -->
                        <div style="padding: 20px 50px" class="product-content product-wrap clearfix product-deatil">
                            <div class="row">
                                <div class="col-md-5 col-sm-12 col-xs-12 ">
                                    <div class="product-image">
                                        <div id="myCarousel-2" class="carousel slide" data-smart-ride-carousel>
                                            <div class="carousel-inner">
                                                <!-- Slide 1 -->
                                                <div class="item active" style="text-align: center">
                                                    <img style="height:438px; width: 90%;"
                                                         ng-src="{{product.image}}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12 col-xs-12">

                                    <h2 class="name">
                                        {{product.name | uppercase}}
                                        <small>Elaborado por <a href-void>{{product.brand.name | uppercase}}</a></small>
                                        <small style="padding-top: 3px" href-void>
                                            Total en Existencia <a>({{product.totalAmount === 0 ? '0': product.totalAmount}})</a> Unidades
                                        </small>

                                    </h2>
                                    <hr>
                                    <h3 class="price-container">
                                        RD {{product.salePrice | currency}}
                                        <small>*impuestos no incluidos</small>
                                    </h3>

                                    <div class="certified">
                                        <ul>
                                            <li><a href-void>Fecha de Creacion<span>
                                        <i style="padding-right: 5px;color: rebeccapurple;" class="fa fa-calendar"></i>
                                        {{product.createdDate | date: 'mediumDate'}}</span>
                                            </a>
                                            </li>
                                            <li><a href-void>Fecha de Modificacion<span>
                                        <i style="padding-right: 5px;color: rebeccapurple;" class="fa fa-calendar"></i>
                                        {{product.modifiedDate | date: 'mediumDate'}}</span>
                                            </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="description description-tabs">


                                        <ul id="myTab" class="nav nav-pills">
                                            <li class="">
                                                <a href="#more-information"
                                                   data-toggle="tab" class="no-margin">Descripcion de
                                                    producto</a>
                                            </li>
                                            <li class="active">
                                                <a href="#specifications" data-toggle="tab">Especificaciones</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div class="tab-pane fade" id="more-information">
                                                <br>
                                                <strong>Descripcion del producto</strong>
                                                <p style="text-transform: capitalize">
                                                    {{product.description | lowercase}}
                                                </p>
                                                <strong>Ubicacion en Almacen</strong>
                                                <p style="text-transform: capitalize">
                                                    {{product.location | lowercase}}
                                                </p>
                                            </div>

                                            <div class="tab-pane active in fade" id="specifications">
                                                <br>
                                                <table class="table">
                                                    <thead class="thead-inverse" style="color: rebeccapurple;">
                                                    <tr>
                                                        <th>Codigo</th>
                                                        <th>Adquisicion</th>
                                                        <th>Venta</th>
                                                        <th>Venta con Imps.</th>
                                                        <th>Existencia</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody style="color: #21c2f8">
                                                    <tr>
                                                        <td>{{product.code | uppercase}}</td>
                                                        <td>{{product.purchasePrice | currency}}</td>
                                                        <td>{{product.salePrice | currency}}</td>
                                                        <td>{{product.salePrice * 1.18 | currency}}</td>
                                                        <td>({{product.totalAmount || 0}}) Unds</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="margin-top: -15px">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <a ng-click="uibModalInstance.close(null)"
                                               href="#/products/{{product.id}}/edition"
                                               class="btn btn-warning btn-md">
                                                <i class="fa fa-wrench"></i>
                                                Editar
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end product -->
                    </div>
                </div>
                <footer style="text-align: right; padding-bottom: 10px">
                    <button type="button"
                            style="padding: 3px 10px;"
                            ng-click="uibModalInstance.close(null)"
                            class="btn btn-default">
                        <i class="fa fa-close padding-5"></i>
                        Cerrar
                    </button>
                </footer>
            </section>
        </div>

    </div>
</div>
